Repository db-ui/elements, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, cicd, stencil, angular, react, vue, angular-showcase, playground-showcase, react-showcase, reactwind-showcase, vue-showcase

fix: fetch everything via github.rest
  .github/workflows/99-add-url-comment.yml
  .github/workflows/pull-request-opened.yml
Labels: cicd

fix: issue with context
  .github/workflows/99-add-url-comment.yml
Labels: cicd

fix: issue with context
  .github/workflows/99-add-url-comment.yml
Labels: cicd

fix: issue with context
  .github/workflows/99-add-url-comment.yml
Labels: cicd

fix: issue with context
  .github/workflows/99-add-url-comment.yml
Labels: cicd

fix: issue with context
  .github/workflows/99-add-url-comment.yml
Labels: cicd

fix: revert change to add comment only on opened PRs
  .github/workflows/pull-request-opened.yml
Labels: cicd

deploy: 8ccf32831ff01d1c373367347999cd8a81a808f3
  review/feat-144-add-gh-pages-url-on-pr/project.json
Labels: none

fix: revert get-gh-pages-url
  .github/scripts/get-gh-page-url.sh
  .github/workflows/03-deploy-gh-pages.yml
Labels: cicd

deploy: a81419b43b9ead2a7534fe91e353f22b52328149
  review/feat-144-add-gh-pages-url-on-pr/project.json
Labels: none

feat: add new workflow to add gh-pages url to PR (#167)
  .github/workflows/99-add-url-comment.yml
  .github/workflows/pull-request-opened.yml
Labels: cicd

deploy: 8b6a15411011148164bc3737e94d2c3f06090add
  review/main/project.json
Labels: none

chore: update reactwind-showcase README.md
  showcase/playground-showcase/src/editor/tailwind.generated.css
  showcase/reactwind-showcase/README.md
  showcase/reactwind-showcase/src/index.css
Labels: playground-showcase, reactwind-showcase

chore: let's use this as a quick fix
  packages/db-ui-elements-stencil/src/components/db-input/db-input.scss
  packages/db-ui-elements-stencil/src/components/db-select/db-select.scss
Labels: stencil

Update README.md
  showcase/reactwind-showcase/README.md
Labels: reactwind-showcase

deploy: c0ddc3010375aa7a47711513a63489a4c1244ca7
  review/chore-91-reactwind-readme/project.json
Labels: none

feat: update theme with old refactory stories content
  .storybook/dbTheme.js
  .storybook/manager.js
  .storybook/preview-head.html
Labels: none

ci: save version to .env
  .github/workflows/00-init.yml
Labels: cicd

ci: test version in env
  .github/workflows/00-init.yml
Labels: cicd

refactor: we won't need those roles defined
  packages/db-ui-elements-stencil/src/components/db-header/__tests__/db-header.spec.tsx
  packages/db-ui-elements-stencil/src/components/db-header/db-header.tsx
  packages/db-ui-elements-stencil/src/components/db-pagination/__tests__/__snapshots__/db-pagination.spec.tsx.snap
  packages/db-ui-elements-stencil/src/components/db-pagination/db-pagination.tsx
Labels: stencil

Update index.html
  index.html
Labels: repo

deploy: ddc2ca3d94a72e2068b0b7f2afff635ef0b9925f
  review/feat-storybook-theming/project.json
Labels: none

deploy: d7f38596411ddfdfa4894110c672d97403a90680
  review/feat-storybook-theming/project.json
Labels: none

deploy: e65b8c0c313d3b00e8b351e5007b1e750f52c493
  review/feat-storybook-theming/project.json
Labels: none

ci: test tag
  .github/workflows/01-get-publish-version.yml
  .github/workflows/01-test.yml
  .github/workflows/default.yml
Labels: cicd

ci: test tag 2
  .github/workflows/01-get-publish-version.yml
Labels: cicd

ci: test tag 3
  .github/workflows/01-get-publish-version.yml
Labels: cicd

ci: test tag 4
  .github/workflows/01-get-publish-version.yml
Labels: cicd

ci: test tag 5
  .github/workflows/01-get-publish-version.yml
Labels: cicd

deploy: 6139a2a6c9c1e889f726701e918b9b45bb1547fa
  review/feat-storybook-theming/project.json
Labels: none

ci: workflow for latest tag
  .github/workflows/01-get-latest-tag.yml
  .github/workflows/default.yml
Labels: cicd

ci: fix input error
  .github/workflows/01-build-storybook.yml
Labels: cicd

ci: tag name as env variable for storybook build
  .github/workflows/01-build-storybook.yml
Labels: cicd

deploy: 735648a1d834ca7f5e2782349944576c611437a9
  review/feat-storybook-theming/project.json
Labels: none

Update db-input.scss
  packages/db-ui-elements-stencil/src/components/db-input/db-input.scss
Labels: stencil

Update db-select.scss
  packages/db-ui-elements-stencil/src/components/db-select/db-select.scss
Labels: stencil

chore: updated related DB UI Core version
  package-lock.json
  packages/db-ui-elements-stencil/package.json
  showcase/angular-showcase/package-lock.json
Labels: repo, stencil, angular-showcase

fix: urls
  doc/howto-angular.md
  doc/howto-javascript.md
  doc/howto-react.md
  doc/howto-vue.md
Labels: none

fix: urls (#199)
  doc/howto-angular.md
  doc/howto-javascript.md
  doc/howto-react.md
  doc/howto-vue.md
Labels: none

deploy: a7b692cdacef9e3c7c69ff5985303f9628bfc851
  review/main/iframe.html
  review/main/main.6d105087.iframe.bundle.js
  review/main/main.efd133e2.iframe.bundle.js
  review/main/main.efd133e2.iframe.bundle.js.LICENSE.txt
  review/main/project.json
Labels: none

.github/labeler.yml:

---
# Add 'repo' label to any root file changes
repo:
  - '*'

# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'stencil' label to any file changes for stencil
stencil:
  - packages/db-ui-elements-stencil/**

# Add 'angular' label to any file changes for angular-build-target
angular:
  - packages/db-ui-elements-angular/**

# Add 'react' label to any file changes for angular-build-target
react:
  - packages/db-ui-elements-react/**

# Add 'vue' label to any file changes for angular-build-target
vue:
  - packages/db-ui-elements-vue/**

# Add 'angular-showcase' label to any file changes for angular-showcase
angular-showcase:
  - showcase/angular-showcase/**

# Add 'playground-showcase' label to any file changes for playground-showcase
playground-showcase:
  - showcase/playground-showcase/**

# Add 'react-showcase' label to any file changes for react-showcase
react-showcase:
  - showcase/react-showcase/**

# Add 'reactwind-showcase' label to any file changes for reactwind-showcase
reactwind-showcase:
  - showcase/reactwind-showcase/**

# Add 'vue-showcase' label to any file changes for vue-showcase
vue-showcase:
  - showcase/vue-showcase/**
