Repository db-ui/elements, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, cicd, stencil, angular, react, vue, angular-showcase, playground-showcase, react-showcase, reactwind-showcase, vue-showcase

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/00-init.yml
  .github/workflows/03-publish-packages.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/00-init.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/actions/get-package-version-latest/action.yml
  .github/actions/get-package-version-next/action.yml
  .github/actions/publish-next-to-registry/action.yml
  .github/actions/publish-to-registry/action.yml
  .github/workflows/03-github-publish-next.yml
  .github/workflows/03-npm-publish-latest.yml
  .github/workflows/03-npm-publish-next.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-showcases.yml
  .github/workflows/01-build-stencil-targets.yml
  .github/workflows/01-build-storybook.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-gh-release.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/default.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/00-init.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages.yml
  .github/workflows/changelog.yml
Labels: cicd

deploy: e11bcbeb8981e62a171336594d864be6e6f0a945
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

deploy: 3c76817f7ca2a7eadde3a6d8cb819fade2332851
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages.yml
Labels: cicd

deploy: 95ff3ab0fc085c542cf0b22894a21560e88ebc92
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

ci: 🎡 npm publish CI WIP
  .github/workflows/publish-release.yml
Labels: cicd

deploy: f3dd02f830b58010701070b46407da32ef0b0271
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

test: cicd
  .github/actions/get-package-version-latest/action.yml
  .github/actions/get-package-version-next/action.yml
  .github/workflows/01-get-publish-version.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/04-changelog.yml
  .github/workflows/publish-release.yml
Labels: cicd

test: cicd
  .github/actions/bundle-gh-page/action.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/publish-release.yml
Labels: cicd

test: cicd
  .github/actions/bundle-gh-page/action.yml
  .github/workflows/01-get-publish-version.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/03-publish-packages.yml
Labels: cicd

test: cicd
  .github/scripts/get-release.sh
  .github/workflows/01-get-publish-version.yml
Labels: cicd

test: cicd
  .github/actions/bundle-gh-page/action.yml
  .github/workflows/01-get-publish-version.yml
  .github/workflows/03-deploy-gh-pages.yml
Labels: cicd

test: cicd
  .github/actions/bundle-gh-page/action.yml
  .github/workflows/01-get-publish-version.yml
Labels: cicd

test: cicd
  .github/workflows/01-get-publish-version.yml
  .github/workflows/default.yml
  .github/workflows/publish-release.yml
Labels: cicd

test: cicd
  .github/workflows/default.yml
Labels: cicd

test: cicd
  .github/scripts/get-release.sh
  .github/scripts/package-version.sh
  .github/workflows/01-get-publish-version.yml
Labels: cicd

test: cicd
  .github/actions/bundle-gh-page/action.yml
  .github/scripts/package-version.sh
  .github/workflows/03-deploy-gh-pages.yml
Labels: cicd

deploy: a1cc851ab2854bce58d68bac44377dd7e82ec4ea
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

test: cicd
  .github/actions/bundle-gh-page/action.yml
  .github/scripts/build-gh-page.sh
  .github/scripts/package-version.sh
  .github/scripts/publish-npm.sh
  .github/workflows/01-build-stencil-targets.yml
  .github/workflows/01-get-publish-version.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/default.yml
  package.json
Labels: repo, cicd

test: cicd
  .github/actions/bundle-gh-page/action.yml
  .github/scripts/build-gh-page.sh
  .github/scripts/get-release.sh
  .github/scripts/publish-npm.sh
  .github/workflows/01-get-publish-version.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/publish-release.yml
Labels: cicd

chore: update dependabot.yml
  .github/dependabot.yml
Labels: cicd

deploy: e011a02653b3507b074663f67d0c2608f4e4522f
  review/main/playground-showcase/404.html
  review/main/playground-showcase/asset-manifest.json
  review/main/playground-showcase/index.html
  review/main/playground-showcase/static/js/main.117951fd.js
  review/main/playground-showcase/static/js/main.117951fd.js.LICENSE.txt
  review/main/playground-showcase/static/js/main.a4b6758e.js
  review/main/playground-showcase/static/js/main.a4b6758e.js.LICENSE.txt
  review/main/project.json
Labels: none

test: cicd
  .github/scripts/build-gh-page.sh
  .github/scripts/package-version.sh
  .github/workflows/01-get-publish-version.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/publish-release.yml
  scripts/version-helper.js
Labels: cicd

test: cicd
  .github/scripts/publish-npm.sh
  .github/workflows/03-publish-packages.yml
  packages/db-ui-elements-angular/package.json
Labels: cicd, angular

.github/labeler.yml:

---
# Add 'repo' label to any root file changes
repo:
  - '*'

# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'stencil' label to any file changes for stencil
stencil:
  - packages/db-ui-elements-stencil/**

# Add 'angular' label to any file changes for angular-build-target
angular:
  - packages/db-ui-elements-angular/**

# Add 'react' label to any file changes for angular-build-target
react:
  - packages/db-ui-elements-react/**

# Add 'vue' label to any file changes for angular-build-target
vue:
  - packages/db-ui-elements-vue/**

# Add 'angular-showcase' label to any file changes for angular-showcase
angular-showcase:
  - showcase/angular-showcase/**

# Add 'playground-showcase' label to any file changes for playground-showcase
playground-showcase:
  - showcase/playground-showcase/**

# Add 'react-showcase' label to any file changes for react-showcase
react-showcase:
  - showcase/react-showcase/**

# Add 'reactwind-showcase' label to any file changes for reactwind-showcase
reactwind-showcase:
  - showcase/reactwind-showcase/**

# Add 'vue-showcase' label to any file changes for vue-showcase
vue-showcase:
  - showcase/vue-showcase/**
