Repository db-ui/elements, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, cicd, stencil, angular, react, vue, angular-showcase, playground-showcase, react-showcase, reactwind-showcase, vue-showcase

.github/labeler.yml:

---
# Add 'repo' label to any root file changes
repo:
  - '*'

# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'stencil' label to any file changes for stencil
stencil:
  - packages/db-ui-elements-stencil/**

# Add 'angular' label to any file changes for angular-build-target
angular:
  - packages/db-ui-elements-angular/**

# Add 'react' label to any file changes for angular-build-target
react:
  - packages/db-ui-elements-react/**

# Add 'vue' label to any file changes for angular-build-target
vue:
  - packages/db-ui-elements-vue/**

# Add 'angular-showcase' label to any file changes for angular-showcase
angular-showcase:
  - showcase/angular-showcase/**

# Add 'playground-showcase' label to any file changes for playground-showcase
playground-showcase:
  - showcase/playground-showcase/**

# Add 'react-showcase' label to any file changes for react-showcase
react-showcase:
  - showcase/react-showcase/**

# Add 'reactwind-showcase' label to any file changes for reactwind-showcase
reactwind-showcase:
  - showcase/reactwind-showcase/**

# Add 'vue-showcase' label to any file changes for vue-showcase
vue-showcase:
  - showcase/vue-showcase/**

chore: update from main
  package-lock.json
  showcase/angular-showcase/package-lock.json
  showcase/reactwind-showcase/package-lock.json
Labels: repo, angular-showcase, reactwind-showcase

deploy: 8a4c871f2b7da3c2f457492c4f09d8613f0a367f
  review/main/project.json
Labels: none

refactor: further optimized dependabot on monrepo setup
  .github/dependabot.yml
Labels: cicd

chore: update from main
  package-lock.json
  showcase/angular-showcase/package-lock.json
Labels: repo, angular-showcase

fix: issue with cicd
  .github/workflows/01-validate.yml
Labels: cicd

deploy: 436ef1e4e643220d685101de5908564a2ba6f13c
  review/main/project.json
Labels: none

fix: issue for macos
  scripts/cypress/component-check.js
Labels: none

refactor: added relevant branch name prefix
  package.json
Labels: repo

deploy: f9bf88fbc262373a8987205a0b923d3f4e3b94ab
  review/main/index.html
  review/main/main.6bcccc09517eb78400a1.manager.bundle.js
  review/main/main.b31158dfe4f19c933a34.manager.bundle.js
  review/main/project.json
Labels: none

deploy: cb6301c1a839c5dd547a616b0cd3e9c923a3389b
  review/main/index.html
  review/main/main.6bcccc09517eb78400a1.manager.bundle.js
  review/main/main.b4efa9ce09302d6857f3.manager.bundle.js
  review/main/project.json
Labels: none

deploy: e92908e6d5212282c309f4423eadd73c0afcddc3
  review/main/index.html
  review/main/main.1515e0eb9ef716421fd6.manager.bundle.js
  review/main/main.b4efa9ce09302d6857f3.manager.bundle.js
  review/main/project.json
Labels: none

deploy: 977525796e07d70474e7a42b6ea61ddac9c1c6ca
  review/main/index.html
  review/main/main.1515e0eb9ef716421fd6.manager.bundle.js
  review/main/main.4a324cb5200c3b666369.manager.bundle.js
  review/main/project.json
Labels: none

refactor: hide obsolete style sections and unstyled variant
  packages/db-ui-elements-stencil/src/components/db-button/readme.md
  packages/db-ui-elements-stencil/src/components/db-checkbox/readme.md
  packages/db-ui-elements-stencil/src/components/db-icon/readme.md
  packages/db-ui-elements-stencil/src/components/db-input/readme.md
  packages/db-ui-elements-stencil/src/components/db-link/readme.md
  packages/db-ui-elements-stencil/src/components/db-radio/readme.md
  packages/db-ui-elements-stencil/src/components/db-select/stories/db-select.intro.stories.mdx
Labels: stencil

refactor: heavily restyled the homepage
  cypress/integration/other/welcome-story.spec.js
  packages/db-ui-elements-stencil/src/components/db-card/db-card.scss
  packages/db-ui-elements-stencil/src/components/db-cards/db-cards.tsx
  packages/db-ui-elements-stencil/src/components/db-cards/stories/db-cards.intro.stories.mdx
  packages/db-ui-elements-stencil/src/images/angular-showcase.svg
  packages/db-ui-elements-stencil/src/images/angular.svg
  packages/db-ui-elements-stencil/src/images/javascript-js-seeklogo.com.svg
  packages/db-ui-elements-stencil/src/images/react-showcase.svg
  packages/db-ui-elements-stencil/src/images/react-wind-showcase.svg
  packages/db-ui-elements-stencil/src/images/react.svg
  packages/db-ui-elements-stencil/src/images/vue-showcase.svg
  packages/db-ui-elements-stencil/src/images/vue.svg
  packages/db-ui-elements-stencil/src/stories/intro/welcome.stories.mdx
  packages/db-ui-elements-stencil/stencil.config.ts
  scripts/illustration-generator.js
Labels: stencil

fix: corrected that path
  packages/db-ui-elements-stencil/src/components/db-card/db-card.tsx
  packages/db-ui-elements-stencil/src/components/db-card/readme.md
Labels: stencil

feat: 🎸 Publish packages to npm and GitHub registries in CI
  .github/workflows/03-gh-release.yml
  .github/workflows/03-npm-publish.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/default.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish.yml
  .github/workflows/publish-release.yml
Labels: cicd

deploy: dc231efe10368f68911192229ac356e3a70bbfd2
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish.yml
Labels: cicd

deploy: 92d166b50d5fb11f1459621316e31b3205954333
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish.yml
Labels: cicd

deploy: 4828591d3c3fe4000ea1e499f3631c5e7fdda833
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish.yml
  .github/workflows/publish-release.yml
Labels: cicd

deploy: abef2c9c0551c243ae2a67442c33579f79240805
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

ci: 🎡 WIP
  .github/workflows/03-npm-publish.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish.yml
Labels: cicd
