Repository db-ui/elements, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, cicd, stencil, angular, react, vue, angular-showcase, playground-showcase, react-showcase, reactwind-showcase, vue-showcase

refactor: let's check daily
  .github/dependabot.yml
Labels: cicd

refactor: stencil update
  package-lock.json
  packages/db-ui-elements-stencil/package.json
  showcase/angular-showcase/package-lock.json
Labels: repo, stencil, angular-showcase

refactor: stencil update (#202)
  package-lock.json
  packages/db-ui-elements-stencil/package.json
  showcase/angular-showcase/package-lock.json
Labels: repo, stencil, angular-showcase

ci: update .env with version
  .github/workflows/01-build-storybook.yml
Labels: cicd

deploy: 19fdd0b4613c7a7f531cc5c9b2ce0c14b56b1c41
  review/feat-storybook-theming/index.html
  review/feat-storybook-theming/main.4260751299c0b37a43b7.manager.bundle.js
  review/feat-storybook-theming/main.7865c066c861ee038f3b.manager.bundle.js
  review/feat-storybook-theming/project.json
Labels: none

ci: test .env
  .github/workflows/01-build-storybook.yml
Labels: cicd

deploy: 9b4ee1fc2cd0b279697070ef31eb8a37a8d3f1de
  review/feat-storybook-theming/project.json
Labels: none

ci: removed unused code
  .github/workflows/00-init.yml
  .github/workflows/01-build-storybook.yml
  .github/workflows/01-test.yml
  .github/workflows/default.yml
Labels: cicd

ci: use latest tag for release pipeline
  .github/workflows/publish-release.yml
Labels: cicd

deploy: 2b1980898b1cf3eab0c89e111a6f0e6c64f6591f
  review/feat-storybook-theming/project.json
Labels: none

refactor: @stencil/sass update
  package-lock.json
  packages/db-ui-elements-stencil/package.json
Labels: repo, stencil

feat: using colors from @db-ui/base
  .storybook/dbTheme.js
Labels: none

deploy: ee5626cb64b3b0a72a79b0f1c592823b7e277707
  review/feat-storybook-theming/456.f2e15d577a53f70eec2d.manager.bundle.js
  review/feat-storybook-theming/586.ecf15a759a2067cd2e2a.manager.bundle.js
  review/feat-storybook-theming/586.ecf15a759a2067cd2e2a.manager.bundle.js.LICENSE.txt
  review/feat-storybook-theming/index.html
  review/feat-storybook-theming/main.0779fd587d6e37ea63d4.manager.bundle.js
  review/feat-storybook-theming/main.b702979a0db378e2caf3.manager.bundle.js
  review/feat-storybook-theming/project.json
Labels: none

feat: storybook theming
  .storybook/dbTheme.js
  .storybook/manager-head.html
  .storybook/manager.js
  .storybook/preview-head.html
Labels: none

ci: get latest git tag and save to .env
  .github/workflows/01-build-storybook.yml
  .github/workflows/01-get-latest-tag.yml
  .github/workflows/default.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: use publish version instead of latest tag
  .github/workflows/publish-release.yml
Labels: cicd

fix: close #198
  .github/scripts/publish-npm.sh
Labels: cicd

deploy: 0138d544f495003b9ab65fc4497f1021475cb9f0
  review/feat-latest-tag/project.json
Labels: none

feat: storybook db theming (#206)
  .storybook/dbTheme.js
  .storybook/manager-head.html
  .storybook/manager.js
  .storybook/preview-head.html
Labels: none

fix: "next" tag nomenclature (#208)
  .github/scripts/publish-npm.sh
Labels: cicd

deploy: b14fbe6d15e5e4f0d5aeaddf3458a2361bcc88c5
  review/feat-latest-tag/456.f2e15d577a53f70eec2d.manager.bundle.js
  review/feat-latest-tag/586.ecf15a759a2067cd2e2a.manager.bundle.js
  review/feat-latest-tag/586.ecf15a759a2067cd2e2a.manager.bundle.js.LICENSE.txt
  review/feat-latest-tag/iframe.html
  review/feat-latest-tag/index.html
  review/feat-latest-tag/main.b702979a0db378e2caf3.manager.bundle.js
  review/feat-latest-tag/main.dc41af1c28e6aaef13e7.manager.bundle.js
  review/feat-latest-tag/project.json
Labels: none

refactor: regenerated package-lock.json
  showcase/angular-showcase/package-lock.json
Labels: angular-showcase

deploy: f518b1b49bc7f2c86f39f6210f64355b6447e83b
  review/feat-latest-tag/project.json
Labels: none

deploy: dfb8ba7b4fb05c99c51f66301f293f747204185c
  review/refactor-stencil-sass-update/456.f2e15d577a53f70eec2d.manager.bundle.js
  review/refactor-stencil-sass-update/586.ecf15a759a2067cd2e2a.manager.bundle.js
  review/refactor-stencil-sass-update/586.ecf15a759a2067cd2e2a.manager.bundle.js.LICENSE.txt
  review/refactor-stencil-sass-update/iframe.html
  review/refactor-stencil-sass-update/index.html
  review/refactor-stencil-sass-update/main.dc41af1c28e6aaef13e7.manager.bundle.js
  review/refactor-stencil-sass-update/main.e31014f96bc4864ff5b2.manager.bundle.js
  review/refactor-stencil-sass-update/project.json
Labels: none

fix: missing referenced icons (#164)
  package-lock.json
  packages/db-ui-elements-stencil/package.json
  packages/db-ui-elements-stencil/src/components/db-input/db-input.scss
  packages/db-ui-elements-stencil/src/components/db-select/db-select.scss
  showcase/angular-showcase/package-lock.json
Labels: repo, stencil, angular-showcase

deploy: acc003fa6e5d3383e347cf33cb4ee3a1acb0b369
  review/main/project.json
Labels: none

chore: revert contribution part for reactwind readme
  showcase/reactwind-showcase/README.md
Labels: reactwind-showcase

refactor: @stencil/sass dependency update (#205)
  package-lock.json
  packages/db-ui-elements-stencil/package.json
Labels: repo, stencil

chore: update reactwind-showcase README.md (#168)
  showcase/playground-showcase/src/editor/tailwind.generated.css
  showcase/reactwind-showcase/README.md
  showcase/reactwind-showcase/src/index.css
Labels: playground-showcase, reactwind-showcase

deploy: fa0bd9f2cab91a6a3eb0c2d2247bea0891d11fe9
  review/main/playground-showcase/404.html
  review/main/playground-showcase/asset-manifest.json
  review/main/playground-showcase/index.html
  review/main/playground-showcase/static/css/main.33be609a.css
  review/main/playground-showcase/static/css/main.33be609a.css.map
  review/main/playground-showcase/static/css/main.7fe7f365.css
  review/main/playground-showcase/static/css/main.7fe7f365.css.map
  review/main/project.json
  review/main/reactwind-showcase/404.html
  review/main/reactwind-showcase/asset-manifest.json
  review/main/reactwind-showcase/index.html
  review/main/reactwind-showcase/static/css/main.396dc9fa.css
  review/main/reactwind-showcase/static/css/main.396dc9fa.css.map
  review/main/reactwind-showcase/static/css/main.3ed756d2.css
  review/main/reactwind-showcase/static/css/main.3ed756d2.css.map
Labels: none

deploy: d297f8afc3ffcd4cdbe549d57f6a5249cc292387
  review/main/project.json
Labels: none

ci: remove unused .cat
  .github/workflows/01-build-storybook.yml
Labels: cicd

chore: remove unused dependencies
  package-lock.json
  package.json
  packages/db-ui-elements-react/package.json
  packages/db-ui-elements-stencil/package.json
  packages/db-ui-elements-stencil/package.md
  packages/db-ui-elements-vue/package.json
  showcase/playground-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/reactwind-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Labels: repo, stencil, react, vue, playground-showcase, react-showcase, reactwind-showcase, vue-showcase

chore: update from main
  package-lock.json
Labels: repo

deploy: 62cba5ee96f49333c509dfe9e4fda27b5c949974
  review/chore-remove-unused-dependencies/playground-showcase/404.html
  review/chore-remove-unused-dependencies/playground-showcase/asset-manifest.json
  review/chore-remove-unused-dependencies/playground-showcase/index.html
  review/chore-remove-unused-dependencies/playground-showcase/static/css/main.33be609a.css
  review/chore-remove-unused-dependencies/playground-showcase/static/css/main.33be609a.css.map
  review/chore-remove-unused-dependencies/playground-showcase/static/css/main.7fe7f365.css
  review/chore-remove-unused-dependencies/playground-showcase/static/css/main.7fe7f365.css.map
  review/chore-remove-unused-dependencies/project.json
  review/chore-remove-unused-dependencies/reactwind-showcase/404.html
  review/chore-remove-unused-dependencies/reactwind-showcase/asset-manifest.json
  review/chore-remove-unused-dependencies/reactwind-showcase/index.html
  review/chore-remove-unused-dependencies/reactwind-showcase/static/css/main.396dc9fa.css
  review/chore-remove-unused-dependencies/reactwind-showcase/static/css/main.396dc9fa.css.map
  review/chore-remove-unused-dependencies/reactwind-showcase/static/css/main.3ed756d2.css
  review/chore-remove-unused-dependencies/reactwind-showcase/static/css/main.3ed756d2.css.map
Labels: none

ci: get latest git tag and save to .env (#207)
  .github/workflows/01-build-storybook.yml
  .github/workflows/01-get-latest-tag.yml
  .github/workflows/default.yml
  .github/workflows/publish-release.yml
Labels: cicd

deploy: 80cf85e6862d2a4b3dbf123705d93d4d251146b7
  review/main/index.html
  review/main/main.b702979a0db378e2caf3.manager.bundle.js
  review/main/main.e31014f96bc4864ff5b2.manager.bundle.js
  review/main/project.json
Labels: none

fix: issues with palyground
  .storybook/preview-body.html
  .storybook/preview.js
  package.json
  packages/db-ui-elements-stencil/src/components/db-card/readme.md
  packages/db-ui-elements-stencil/src/components/db-link/readme.md
  packages/db-ui-elements-stencil/src/components/db-progress/db-progress.tsx
  packages/db-ui-elements-stencil/src/stories/development/playground-dnd.stories.tsx
  packages/db-ui-elements-stencil/src/stories/development/playground-editor.stories.tsx
  scripts/build.js
  scripts/review-page-helper.js
  showcase/playground-showcase/src/index.tsx
  showcase/react-showcase/src/index.js
  showcase/reactwind-showcase/package-lock.json
Labels: repo, stencil, playground-showcase, react-showcase, reactwind-showcase

deploy: 5788a707d683766fc305b859bce74c11e1e8b531
  review/main/iframe.html
  review/main/main.789a7890.iframe.bundle.js
  review/main/main.789a7890.iframe.bundle.js.LICENSE.txt
  review/main/main.a1d44c3e.iframe.bundle.js
  review/main/main.a1d44c3e.iframe.bundle.js.LICENSE.txt
  review/main/playground-showcase/404.html
  review/main/playground-showcase/asset-manifest.json
  review/main/playground-showcase/index.html
  review/main/playground-showcase/static/js/main.31b28f93.js
  review/main/playground-showcase/static/js/main.31b28f93.js.LICENSE.txt
  review/main/playground-showcase/static/js/main.8b184f2a.js
  review/main/playground-showcase/static/js/main.8b184f2a.js.LICENSE.txt
  review/main/project.json
  review/main/react-showcase/404.html
  review/main/react-showcase/asset-manifest.json
  review/main/react-showcase/index.html
  review/main/react-showcase/static/js/main.15b56659.js
  review/main/react-showcase/static/js/main.15b56659.js.LICENSE.txt
  review/main/react-showcase/static/js/main.15b56659.js.map
  review/main/react-showcase/static/js/main.6acb6f85.js
  review/main/react-showcase/static/js/main.6acb6f85.js.LICENSE.txt
  review/main/react-showcase/static/js/main.6acb6f85.js.map
Labels: none

deploy: fa8d763d96f7b9ddd18136fa82790ccdde74f170
  review/main/playground-showcase/404.html
  review/main/playground-showcase/asset-manifest.json
  review/main/playground-showcase/index.html
  review/main/playground-showcase/static/css/main.33be609a.css
  review/main/playground-showcase/static/css/main.33be609a.css.map
  review/main/playground-showcase/static/css/main.dd39625c.css
  review/main/playground-showcase/static/css/main.dd39625c.css.map
  review/main/playground-showcase/static/js/main.72d5c243.js
  review/main/playground-showcase/static/js/main.72d5c243.js.LICENSE.txt
  review/main/playground-showcase/static/js/main.8b184f2a.js
  review/main/playground-showcase/static/js/main.8b184f2a.js.LICENSE.txt
  review/main/project.json
Labels: none

.github/labeler.yml:

---
# Add 'repo' label to any root file changes
repo:
  - '*'

# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'stencil' label to any file changes for stencil
stencil:
  - packages/db-ui-elements-stencil/**

# Add 'angular' label to any file changes for angular-build-target
angular:
  - packages/db-ui-elements-angular/**

# Add 'react' label to any file changes for angular-build-target
react:
  - packages/db-ui-elements-react/**

# Add 'vue' label to any file changes for angular-build-target
vue:
  - packages/db-ui-elements-vue/**

# Add 'angular-showcase' label to any file changes for angular-showcase
angular-showcase:
  - showcase/angular-showcase/**

# Add 'playground-showcase' label to any file changes for playground-showcase
playground-showcase:
  - showcase/playground-showcase/**

# Add 'react-showcase' label to any file changes for react-showcase
react-showcase:
  - showcase/react-showcase/**

# Add 'reactwind-showcase' label to any file changes for reactwind-showcase
reactwind-showcase:
  - showcase/reactwind-showcase/**

# Add 'vue-showcase' label to any file changes for vue-showcase
vue-showcase:
  - showcase/vue-showcase/**
