Repository db-ui/elements, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, cicd, stencil, angular, react, vue, angular-showcase, playground-showcase, react-showcase, reactwind-showcase, vue-showcase

.github/labeler.yml:

---
# Add 'repo' label to any root file changes
repo:
  - '*'

# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'stencil' label to any file changes for stencil
stencil:
  - packages/db-ui-elements-stencil/**

# Add 'angular' label to any file changes for angular-build-target
angular:
  - packages/db-ui-elements-angular/**

# Add 'react' label to any file changes for angular-build-target
react:
  - packages/db-ui-elements-react/**

# Add 'vue' label to any file changes for angular-build-target
vue:
  - packages/db-ui-elements-vue/**

# Add 'angular-showcase' label to any file changes for angular-showcase
angular-showcase:
  - showcase/angular-showcase/**

# Add 'playground-showcase' label to any file changes for playground-showcase
playground-showcase:
  - showcase/playground-showcase/**

# Add 'react-showcase' label to any file changes for react-showcase
react-showcase:
  - showcase/react-showcase/**

# Add 'reactwind-showcase' label to any file changes for reactwind-showcase
reactwind-showcase:
  - showcase/reactwind-showcase/**

# Add 'vue-showcase' label to any file changes for vue-showcase
vue-showcase:
  - showcase/vue-showcase/**

ci: 🎡 npm publish CI WIP
  .github/actions/auth-with-registry/action.yml
  .github/workflows/03-npm-publish.yml
  .github/workflows/publish-release.yml
Labels: cicd

deploy: fe11bbc434e39627c33ff989fed791c3475dea44
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

ci: 🎡 npm publish CI WIP
  .github/actions/auth-with-registry/action.yml
  .github/actions/publish-to-registry/action.yml
  .github/workflows/03-npm-publish.yml
Labels: cicd

deploy: aa6b0b9cfd5d96f58b32244d0cf0277e3429377c
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

ci: 🎡 npm publish CI WIP
  .github/actions/publish-latest-to-registry/action.yml
  .github/actions/publish-next-to-registry/action.yml
  .github/workflows/03-npm-publish-latest.yml
  .github/workflows/03-npm-publish-next.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-npm-publish-latest.yml
  scripts/version-helper.js
Labels: cicd

ci: 🎡 npm publish CI WIP
  scripts/version-helper.js
Labels: none

deploy: aab25cffdbef538abcd896f2b76b837a7e0b50cf
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

fix: we need to adapt the testcase as well
  cypress/integration/elements/db-select.spec.js
Labels: none

ci: 🎡 npm publish CI WIP
  .github/actions/publish-next-to-registry/action.yml
  .github/workflows/03-github-publish-latest.yml
  .github/workflows/03-github-publish-next.yml
  .github/workflows/publish-release.yml
  package-lock.json
  package.json
Labels: repo, cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/changelog.yml
  .github/workflows/publish-release.yml
  package-lock.json
  package.json
Labels: repo, cicd

deploy: a12219d30f4739d9dc875f06550fd0e81a1623e7
  review/feat-npm-and-github-package-publishing/index.html
  review/feat-npm-and-github-package-publishing/main.4a324cb5200c3b666369.manager.bundle.js
  review/feat-npm-and-github-package-publishing/main.9fab1452ffc730ac0e54.manager.bundle.js
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
Labels: cicd

deploy: df6e2f84b033bdccdefcebc69960b3c3dfe4e6fa
  review/main/project.json
Labels: none

refactor: dependency updates
  package-lock.json
  packages/db-ui-elements-angular/package.json
  showcase/angular-showcase/package-lock.json
  showcase/angular-showcase/package.json
Labels: repo, angular, angular-showcase

refactor: dependency updates (#93)
  package-lock.json
  packages/db-ui-elements-angular/package.json
  showcase/angular-showcase/package-lock.json
  showcase/angular-showcase/package.json
Labels: repo, angular, angular-showcase

deploy: d0128484f69a1f47752d95ee97a7c33ef6182346
  review/refactor-restyle-homepage/project.json
Labels: none

deploy: e011590133d0c36a501e7899c24bae84bd1337cc
  review/main/angular-showcase/354.js
  review/main/angular-showcase/main.js
  review/main/angular-showcase/polyfills.js
  review/main/project.json
Labels: none

deploy: f68f43527766e7274c70070f29f841af1df4a61b
  review/main/100.bf9877dff6696276ea77.manager.bundle.js
  review/main/142.5fa6d29ab02cd0cc4ad6.manager.bundle.js
  review/main/32.9d55413817c4d5fb2da3.manager.bundle.js
  review/main/377.18e7d6387d2848b5285c.manager.bundle.js
  review/main/460.7b4a9864780409a027f7.manager.bundle.js
  review/main/460.7b4a9864780409a027f7.manager.bundle.js.LICENSE.txt
  review/main/531.77b6222180c2ce43c0a2.manager.bundle.js
  review/main/531.77b6222180c2ce43c0a2.manager.bundle.js.LICENSE.txt
  review/main/546.e41d9952f7d95b7df4f1.manager.bundle.js
  review/main/551.bf3e3f8a04c504d7bf79.manager.bundle.js
  review/main/566.121de7fbf5d7ee2fefbf.manager.bundle.js
  review/main/691.7d97f76f1b6f866cf39e.manager.bundle.js
  review/main/691.7d97f76f1b6f866cf39e.manager.bundle.js.LICENSE.txt
  review/main/725.6440f7ace77a2f829600.manager.bundle.js
  review/main/75.38c112939bfe86f89176.manager.bundle.js
  review/main/75.38c112939bfe86f89176.manager.bundle.js.LICENSE.txt
  review/main/837.10b8994d05e8229e6f8b.manager.bundle.js
  review/main/955.38ac9bd53dbf6569a26e.manager.bundle.js
  review/main/955.38ac9bd53dbf6569a26e.manager.bundle.js.LICENSE.txt
  review/main/index.html
  review/main/main.2b4c4b036c6fe0626183.manager.bundle.js
  review/main/main.4a324cb5200c3b666369.manager.bundle.js
  review/main/project.json
  review/main/reactwind-showcase/404.html
  review/main/reactwind-showcase/asset-manifest.json
  review/main/reactwind-showcase/index.html
  review/main/reactwind-showcase/static/css/main.ab98db0f.css.map
  review/main/reactwind-showcase/static/css/main.f342a70c.css
  review/main/reactwind-showcase/static/css/main.f342a70c.css.map
  review/main/runtime~main.42816d019bf38dd12a1b.manager.bundle.js
  review/main/runtime~main.f4ccf3e0ef53f2e5d299.manager.bundle.js
Labels: none

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
Labels: cicd

deploy: f3b7b3b8f2ef0ae2635c84e31fbb803a3744f1e5
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

ci: 🎡 npm publish CI WIP
  .github/workflows/01-build-stencil-targets.yml
  .github/workflows/03-github-publish-latest.yml
  .github/workflows/publish-release.yml
  packages/db-ui-elements-angular/package.json
  packages/db-ui-elements-stencil/package.json
  packages/db-ui-elements-stencil/stencil.config.ts
  scripts/build.js
Labels: cicd, stencil, angular

ci: 🎡 npm publish CI WIP
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-github-publish-latest.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-github-publish-latest.yml
Labels: cicd

fix: issues with illustration paths, add licenses for logos
  doc/howto-start.md
  doc/license.md
  packages/db-ui-elements-stencil/src/assets/angular-showcase.svg
  packages/db-ui-elements-stencil/src/assets/angular-showcase.svg.license
  packages/db-ui-elements-stencil/src/assets/angular.svg
  packages/db-ui-elements-stencil/src/assets/angular.svg.license
  packages/db-ui-elements-stencil/src/assets/javascript.svg
  packages/db-ui-elements-stencil/src/assets/javascript.svg.license
  packages/db-ui-elements-stencil/src/assets/react-showcase.svg
  packages/db-ui-elements-stencil/src/assets/react-showcase.svg.license
  packages/db-ui-elements-stencil/src/assets/react-wind-showcase.svg
  packages/db-ui-elements-stencil/src/assets/react-wind-showcase.svg.license
  packages/db-ui-elements-stencil/src/assets/react.svg
  packages/db-ui-elements-stencil/src/assets/react.svg.license
  packages/db-ui-elements-stencil/src/assets/vue-showcase.svg
  packages/db-ui-elements-stencil/src/assets/vue-showcase.svg.license
  packages/db-ui-elements-stencil/src/assets/vue.svg
  packages/db-ui-elements-stencil/src/assets/vue.svg.license
  packages/db-ui-elements-stencil/src/components/db-card/db-card.scss
  packages/db-ui-elements-stencil/src/components/db-card/db-card.tsx
  packages/db-ui-elements-stencil/src/components/db-card/readme.md
  packages/db-ui-elements-stencil/src/components/db-headline/readme.md
  packages/db-ui-elements-stencil/src/images/javascript-js-seeklogo.com.svg
  packages/db-ui-elements-stencil/src/images/react-wind-showcase.svg
  packages/db-ui-elements-stencil/src/stories/intro/getting-started.stories.mdx
  packages/db-ui-elements-stencil/src/stories/intro/welcome.stories.mdx
  packages/db-ui-elements-stencil/stencil.config.ts
Labels: stencil

ci: 🎡 npm publish CI WIP
  .github/workflows/03-github-publish-next.yml
  .github/workflows/03-publish-latest.yml
  .github/workflows/publish-release.yml
Labels: cicd
