Repository db-ui/elements, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, cicd, stencil, angular, react, vue, angular-showcase, playground-showcase, react-showcase, reactwind-showcase, vue-showcase

deploy: 0d1dffc265cdfe1c880ea22d325254683b88179d
  review/chore-remove-unused-dependencies/iframe.html
  review/chore-remove-unused-dependencies/index.html
  review/chore-remove-unused-dependencies/main.789a7890.iframe.bundle.js
  review/chore-remove-unused-dependencies/main.789a7890.iframe.bundle.js.LICENSE.txt
  review/chore-remove-unused-dependencies/main.a1d44c3e.iframe.bundle.js
  review/chore-remove-unused-dependencies/main.a1d44c3e.iframe.bundle.js.LICENSE.txt
  review/chore-remove-unused-dependencies/main.b702979a0db378e2caf3.manager.bundle.js
  review/chore-remove-unused-dependencies/main.e31014f96bc4864ff5b2.manager.bundle.js
  review/chore-remove-unused-dependencies/playground-showcase/404.html
  review/chore-remove-unused-dependencies/playground-showcase/asset-manifest.json
  review/chore-remove-unused-dependencies/playground-showcase/index.html
  review/chore-remove-unused-dependencies/playground-showcase/static/css/main.33be609a.css
  review/chore-remove-unused-dependencies/playground-showcase/static/css/main.33be609a.css.map
  review/chore-remove-unused-dependencies/playground-showcase/static/css/main.dd39625c.css
  review/chore-remove-unused-dependencies/playground-showcase/static/css/main.dd39625c.css.map
  review/chore-remove-unused-dependencies/playground-showcase/static/js/main.31b28f93.js
  review/chore-remove-unused-dependencies/playground-showcase/static/js/main.31b28f93.js.LICENSE.txt
  review/chore-remove-unused-dependencies/playground-showcase/static/js/main.72d5c243.js
  review/chore-remove-unused-dependencies/playground-showcase/static/js/main.72d5c243.js.LICENSE.txt
  review/chore-remove-unused-dependencies/project.json
  review/chore-remove-unused-dependencies/react-showcase/404.html
  review/chore-remove-unused-dependencies/react-showcase/asset-manifest.json
  review/chore-remove-unused-dependencies/react-showcase/index.html
  review/chore-remove-unused-dependencies/react-showcase/static/js/main.15b56659.js
  review/chore-remove-unused-dependencies/react-showcase/static/js/main.15b56659.js.LICENSE.txt
  review/chore-remove-unused-dependencies/react-showcase/static/js/main.15b56659.js.map
  review/chore-remove-unused-dependencies/react-showcase/static/js/main.6acb6f85.js
  review/chore-remove-unused-dependencies/react-showcase/static/js/main.6acb6f85.js.LICENSE.txt
  review/chore-remove-unused-dependencies/react-showcase/static/js/main.6acb6f85.js.map
Labels: none

deploy: 2883da1b9bf4aea9eba94060ea49c42479d0d2e2
  review/main/project.json
Labels: none

refactor(codeowners): added Anna
  CODEOWNERS
Labels: repo

deploy: 24ca92477cb57a5549821f011ff07064c3593e0d
  review/chore-remove-unused-dependencies/project.json
Labels: none

deploy: 3e93d8f2a500934d48a1fdd9b1809707ecead5cd
  review/main/index.html
  review/main/main.62471235e22ae381fa8d.manager.bundle.js
  review/main/main.b702979a0db378e2caf3.manager.bundle.js
  review/main/project.json
Labels: none

deploy: 785622c84822884a0995a9bb59068117b1a39fb2
  review/main/index.html
  review/main/main.b702979a0db378e2caf3.manager.bundle.js
  review/main/project.json
  review/refactor-codeowners/index.html
  review/refactor-codeowners/main.62471235e22ae381fa8d.manager.bundle.js
  review/refactor-codeowners/project.json
Labels: none

fix: referenced demo image URLs
  showcase/angular-showcase/src/app/components/other-elements/other-elements.component.html
  showcase/react-showcase/src/components/other-elements/index.js
  showcase/vue-showcase/src/components/other-elements/OtherElements.vue
Labels: angular-showcase, react-showcase, vue-showcase

deploy: 40953f6aa623fc91cecf0db8022c29b95671a2b6
  review/chore-remove-unused-dependencies/index.html
  review/chore-remove-unused-dependencies/main.62471235e22ae381fa8d.manager.bundle.js
  review/chore-remove-unused-dependencies/main.b702979a0db378e2caf3.manager.bundle.js
  review/chore-remove-unused-dependencies/project.json
Labels: none

fix: we need to fix those paths
  .storybook/manager-head.html
  .storybook/preview-head.html
  doc/howto-javascript.md
  packages/db-ui-elements-stencil/stencil.config.ts
Labels: stencil

chore: slightly simplified this
  packages/db-ui-elements-stencil/stencil.config.ts
Labels: stencil

deploy: 9f9a77782ba36bfdfaa3b8b8bdb736c0d466ab18
  review/fix-asset-paths/project.json
Labels: none

fix: we don't need the theme in this path
  .storybook/manager-head.html
  .storybook/preview-head.html
Labels: none

deploy: ade59ef9441c6630258b4711dca9cb76bab12d16
  review/fix-asset-paths/iframe.html
  review/fix-asset-paths/index.html
  review/fix-asset-paths/project.json
Labels: none

chore: remove unused dependencies (#221)
  package-lock.json
  package.json
  packages/db-ui-elements-react/package.json
  packages/db-ui-elements-stencil/package.json
  packages/db-ui-elements-stencil/package.md
  packages/db-ui-elements-vue/package.json
  showcase/playground-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/reactwind-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Labels: repo, stencil, react, vue, playground-showcase, react-showcase, reactwind-showcase, vue-showcase

deploy: 7147a2ef0f6839732ee207461a06ea70696ebcf0
  review/main/index.html
  review/main/main.62471235e22ae381fa8d.manager.bundle.js
  review/main/main.b702979a0db378e2caf3.manager.bundle.js
  review/main/project.json
Labels: none

fix: referenced demo image URLs (#226)
  showcase/angular-showcase/src/app/components/other-elements/other-elements.component.html
  showcase/react-showcase/src/components/other-elements/index.js
  showcase/vue-showcase/src/components/other-elements/OtherElements.vue
Labels: angular-showcase, react-showcase, vue-showcase

fix: destination path always needs to be the same
  packages/db-ui-elements-stencil/stencil.config.ts
Labels: stencil

deploy: 2e91c74b0145f8b1a097b0c37ec01d27b0911219
  review/fix-asset-paths/project.json
Labels: none

fix: we need to fix those paths (#227)
  .storybook/manager-head.html
  .storybook/preview-head.html
  doc/howto-javascript.md
  packages/db-ui-elements-stencil/stencil.config.ts
Labels: stencil

deploy: eda8aa18c2f1421e7754ea86e11e528a851763b1
  review/main/css/db-ui-core.vars.css
  review/main/iframe.html
  review/main/index.html
  review/main/js/iframeresizer.contentwindow.min.js
  review/main/main.85663604.iframe.bundle.js
  review/main/main.85663604.iframe.bundle.js.LICENSE.txt
  review/main/main.a1d44c3e.iframe.bundle.js
  review/main/project.json
Labels: none

refactor(codeowners): added Anna (#223)
  CODEOWNERS
Labels: repo

deploy: 507cb54daf697202e68773df29d888c7a620cd92
  review/main/index.html
  review/main/main.62471235e22ae381fa8d.manager.bundle.js
  review/main/main.c575e9d95276906315cb.manager.bundle.js
  review/main/project.json
Labels: none

refactor: aligned scripts according to xo/eslint feedback
  .husky/pre-commit
  scripts/check-commit-mail.mjs
Labels: none

feat: add auto update for v3 branch
  .github/scripts/auto-update-pr.js
  .github/workflows/99-auto-update-pr.yml
  .github/workflows/auto-update.yml
Labels: cicd

chore: simply regenerating
  e2e/package-lock.json
  package-lock.json
  showcase/angular-showcase/package-lock.json
  showcase/reactwind-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Labels: repo, angular-showcase, reactwind-showcase, vue-showcase

chore: simply regenerating
  package-lock.json
  showcase/angular-showcase/package-lock.json
  showcase/playground-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/reactwind-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Labels: repo, angular-showcase, playground-showcase, react-showcase, reactwind-showcase, vue-showcase

refactor: removed obsolete declarations
  packages/db-ui-elements-stencil/src/components/db-brand/db-brand.scss
  packages/db-ui-elements-stencil/src/components/db-brand/db-brand.tsx
Labels: stencil

refactor: increase the limit of PRs being opened
  .github/dependabot.yml
Labels: cicd

Update dependabot.yml
  .github/dependabot.yml
Labels: cicd

deploy: 9a5ea31cc63419fedab957cb09714c8c82f34743
  review/main/playground-showcase/404.html
  review/main/playground-showcase/asset-manifest.json
  review/main/playground-showcase/index.html
  review/main/playground-showcase/static/js/main.72d5c243.js
  review/main/playground-showcase/static/js/main.72d5c243.js.LICENSE.txt
  review/main/playground-showcase/static/js/main.b4757fcd.js
  review/main/playground-showcase/static/js/main.b4757fcd.js.LICENSE.txt
  review/main/project.json
  review/main/react-showcase/404.html
  review/main/react-showcase/asset-manifest.json
  review/main/react-showcase/index.html
  review/main/react-showcase/static/js/main.02a9eb43.js
  review/main/react-showcase/static/js/main.02a9eb43.js.LICENSE.txt
  review/main/react-showcase/static/js/main.02a9eb43.js.map
  review/main/react-showcase/static/js/main.93ebe75f.js
  review/main/react-showcase/static/js/main.93ebe75f.js.LICENSE.txt
  review/main/react-showcase/static/js/main.93ebe75f.js.map
Labels: none

deploy: a6ad4f77689e1a92cbd66186215cf7d3f89af1d8
  review/main/project.json
Labels: none

deploy: 394137ed8045e50e15b0c733d7c8ef90fb60dab1
  review/main/project.json
Labels: none

deploy: 63541136dd387f27fdaed0aed2b4a2bfebcb36ea
  review/main/playground-showcase/404.html
  review/main/playground-showcase/asset-manifest.json
  review/main/playground-showcase/index.html
  review/main/playground-showcase/static/js/main.b4757fcd.js
  review/main/playground-showcase/static/js/main.b4757fcd.js.LICENSE.txt
  review/main/playground-showcase/static/js/main.ec049b0a.js
  review/main/playground-showcase/static/js/main.ec049b0a.js.LICENSE.txt
  review/main/project.json
Labels: none

refactor: regenerated package-lock.json
  showcase/playground-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Labels: playground-showcase, react-showcase, vue-showcase

deploy: d568ac65df7a67bb57e264922b2abf6e40e4188c
  review/refactor-regenerated-package-lock-json/225.f4cf1c9f.iframe.bundle.js.LICENSE.txt
  review/refactor-regenerated-package-lock-json/286.a9a598a6.iframe.bundle.js
  review/refactor-regenerated-package-lock-json/286.a9a598a6.iframe.bundle.js.LICENSE.txt
  review/refactor-regenerated-package-lock-json/286.ba1698e3.iframe.bundle.js
  review/refactor-regenerated-package-lock-json/286.ba1698e3.iframe.bundle.js.LICENSE.txt
  review/refactor-regenerated-package-lock-json/343.5d4aea3e.iframe.bundle.js
  review/refactor-regenerated-package-lock-json/524.bd9e90fa493bffa1f844.manager.bundle.js
  review/refactor-regenerated-package-lock-json/524.bd9e90fa493bffa1f844.manager.bundle.js.LICENSE.txt
  review/refactor-regenerated-package-lock-json/531.49d150caac8abf3336ab.manager.bundle.js
  review/refactor-regenerated-package-lock-json/531.49d150caac8abf3336ab.manager.bundle.js.LICENSE.txt
  review/refactor-regenerated-package-lock-json/531.77b6222180c2ce43c0a2.manager.bundle.js
  review/refactor-regenerated-package-lock-json/531.77b6222180c2ce43c0a2.manager.bundle.js.LICENSE.txt
  review/refactor-regenerated-package-lock-json/532.39c3feeb.iframe.bundle.js.LICENSE.txt
  review/refactor-regenerated-package-lock-json/586.ecf15a759a2067cd2e2a.manager.bundle.js
  review/refactor-regenerated-package-lock-json/586.ecf15a759a2067cd2e2a.manager.bundle.js.LICENSE.txt
  review/refactor-regenerated-package-lock-json/948.3aaf0ad6.iframe.bundle.js
  review/refactor-regenerated-package-lock-json/iframe.html
  review/refactor-regenerated-package-lock-json/index.html
  review/refactor-regenerated-package-lock-json/main.5eec9d792bf51cbf912f.manager.bundle.js
  review/refactor-regenerated-package-lock-json/main.7ae162ff.iframe.bundle.js
  review/refactor-regenerated-package-lock-json/main.7ae162ff.iframe.bundle.js.LICENSE.txt
  review/refactor-regenerated-package-lock-json/main.85663604.iframe.bundle.js
  review/refactor-regenerated-package-lock-json/main.85663604.iframe.bundle.js.LICENSE.txt
  review/refactor-regenerated-package-lock-json/main.c575e9d95276906315cb.manager.bundle.js
  review/refactor-regenerated-package-lock-json/playground-showcase/404.html
  review/refactor-regenerated-package-lock-json/playground-showcase/asset-manifest.json
  review/refactor-regenerated-package-lock-json/playground-showcase/index.html
  review/refactor-regenerated-package-lock-json/playground-showcase/static/js/main.b4757fcd.js
  review/refactor-regenerated-package-lock-json/playground-showcase/static/js/main.b4757fcd.js.LICENSE.txt
  review/refactor-regenerated-package-lock-json/playground-showcase/static/js/main.ec049b0a.js
  review/refactor-regenerated-package-lock-json/playground-showcase/static/js/main.ec049b0a.js.LICENSE.txt
  review/refactor-regenerated-package-lock-json/project.json
  review/refactor-regenerated-package-lock-json/runtime~main.1364532e030bb2ec3273.manager.bundle.js
  review/refactor-regenerated-package-lock-json/runtime~main.42816d019bf38dd12a1b.manager.bundle.js
  review/refactor-regenerated-package-lock-json/runtime~main.62565fe3.iframe.bundle.js
  review/refactor-regenerated-package-lock-json/runtime~main.f197759b.iframe.bundle.js
Labels: none

refactor: changed to the new button types
  e2e/cypress/integration/03-0-action/db-button.spec.js
  packages/db-ui-elements-stencil/src/components/db-button/db-button.tsx
  packages/db-ui-elements-stencil/src/components/db-button/readme.md
  packages/db-ui-elements-stencil/src/components/db-button/stories/button.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-button/stories/db-button.demo.stories.ts
  packages/db-ui-elements-stencil/src/stories/intro/getting-started.stories.mdx
  showcase/playground-showcase/src/editor/index.tsx
  showcase/playground-showcase/src/grapesjs/blocks/elements.ts
  showcase/playground-showcase/src/playground/index.tsx
Labels: stencil, playground-showcase

refactor: removed iconafter
  packages/db-ui-elements-stencil/src/components/db-button/__tests__/db-button.spec.tsx
  packages/db-ui-elements-stencil/src/components/db-button/db-button.scss
  packages/db-ui-elements-stencil/src/components/db-button/db-button.tsx
  packages/db-ui-elements-stencil/src/components/db-button/readme.md
  packages/db-ui-elements-stencil/src/components/db-button/stories/button.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-button/stories/db-button.demo.stories.ts
Labels: stencil

feat: added width attribute
  packages/db-ui-elements-stencil/src/components/db-button/__tests__/db-button.spec.tsx
  packages/db-ui-elements-stencil/src/components/db-button/db-button.tsx
  packages/db-ui-elements-stencil/src/components/db-button/readme.md
  packages/db-ui-elements-stencil/src/components/db-button/stories/db-button.demo.stories.ts
Labels: stencil

refactor(docs): regarding icons position
  packages/db-ui-elements-stencil/src/components/db-button/stories/button.intro.stories.mdx
Labels: stencil

refactor: increase the limit of PRs being opened by dependabot in parallel (#247)
  .github/dependabot.yml
Labels: cicd

.github/labeler.yml:

---
# Add 'repo' label to any root file changes
repo:
  - '*'

# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'stencil' label to any file changes for stencil
stencil:
  - packages/db-ui-elements-stencil/**

# Add 'angular' label to any file changes for angular-build-target
angular:
  - packages/db-ui-elements-angular/**

# Add 'react' label to any file changes for angular-build-target
react:
  - packages/db-ui-elements-react/**

# Add 'vue' label to any file changes for angular-build-target
vue:
  - packages/db-ui-elements-vue/**

# Add 'angular-showcase' label to any file changes for angular-showcase
angular-showcase:
  - showcase/angular-showcase/**

# Add 'playground-showcase' label to any file changes for playground-showcase
playground-showcase:
  - showcase/playground-showcase/**

# Add 'react-showcase' label to any file changes for react-showcase
react-showcase:
  - showcase/react-showcase/**

# Add 'reactwind-showcase' label to any file changes for reactwind-showcase
reactwind-showcase:
  - showcase/reactwind-showcase/**

# Add 'vue-showcase' label to any file changes for vue-showcase
vue-showcase:
  - showcase/vue-showcase/**
