Repository db-ui/elements, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, cicd, stencil, angular, react, vue, angular-showcase, playground-showcase, react-showcase, reactwind-showcase, vue-showcase

.github/labeler.yml:

---
# Add 'repo' label to any root file changes
repo:
  - '*'

# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'stencil' label to any file changes for stencil
stencil:
  - packages/db-ui-elements-stencil/**

# Add 'angular' label to any file changes for angular-build-target
angular:
  - packages/db-ui-elements-angular/**

# Add 'react' label to any file changes for angular-build-target
react:
  - packages/db-ui-elements-react/**

# Add 'vue' label to any file changes for angular-build-target
vue:
  - packages/db-ui-elements-vue/**

# Add 'angular-showcase' label to any file changes for angular-showcase
angular-showcase:
  - showcase/angular-showcase/**

# Add 'playground-showcase' label to any file changes for playground-showcase
playground-showcase:
  - showcase/playground-showcase/**

# Add 'react-showcase' label to any file changes for react-showcase
react-showcase:
  - showcase/react-showcase/**

# Add 'reactwind-showcase' label to any file changes for reactwind-showcase
reactwind-showcase:
  - showcase/reactwind-showcase/**

# Add 'vue-showcase' label to any file changes for vue-showcase
vue-showcase:
  - showcase/vue-showcase/**

test: cicd
  .github/scripts/publish-npm.sh
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/publish-release.yml
  scripts/cleanup-gh-pages.js
Labels: cicd

test: cicd
  .github/scripts/publish-npm.sh
  .storybook/manager.js
  package.json
Labels: repo, cicd

test: cicd
  package-lock.json
  showcase/angular-showcase/package-lock.json
Labels: repo, angular-showcase

test: cicd
  packages/db-ui-elements-stencil/package.json
Labels: stencil

test: cicd
  .github/workflows/default.yml
  .github/workflows/publish-release.yml
Labels: cicd

fix: issues with reporters
  packages/db-ui-elements-stencil/package.json
Labels: stencil

deploy: 976249e233995806a03c2bfd5f063e2800d5a324
  review/chore-dependabot-config/index.html
  review/chore-dependabot-config/main.07565629767d83eb051d.manager.bundle.js
  review/chore-dependabot-config/main.bc180977eea7410956df.manager.bundle.js
  review/chore-dependabot-config/project.json
Labels: none

test: cicd
  .github/actions/auth-with-registry/action.yml
  .github/scripts/build-gh-page.sh
  .github/scripts/publish-npm.sh
  .github/workflows/03-deploy-gh-pages.yml
  package.json
Labels: repo, cicd

test: cicd
  .github/workflows/03-changelog.yml
  .github/workflows/publish-release.yml
Labels: cicd

deploy: c71f8d22ba820925948e1b55d99ec2fad2a49311
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

test: cicd
  .github/scripts/publish-npm.sh
Labels: cicd

test: cicd
  .github/workflows/03-changelog.yml
Labels: cicd

deploy: 75a1258ebc94cd4c277919e26c30b9bfbef72bc0
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

test: cicd
  .github/scripts/publish-npm.sh
Labels: cicd

deploy: 459a7bc14a056f0e04600140ae506fecbe80f158
  review/feat-npm-and-github-package-publishing/project.json
Labels: none

test: cypress with different init
  .github/workflows/00-init.yml
  .github/workflows/02-cypress.yml
Labels: cicd

test: cypress with different init
  .github/workflows/00-init.yml
  .github/workflows/02-cypress.yml
Labels: cicd

test: cypress with different init
  .github/workflows/00-init.yml
  .github/workflows/02-cypress.yml
Labels: cicd

chore: update dependabot.yml (#134)
  .github/dependabot.yml
  packages/db-ui-elements-stencil/package.json
Labels: cicd, stencil

test: install cypress before
  .github/workflows/02-cypress.yml
  .github/workflows/default.yml
  e2e/package.json
Labels: cicd

test: install cypress before
  .github/workflows/02-cypress.yml
  .github/workflows/default.yml
Labels: cicd

test: add kill for workflow on failure
  .github/actions/cancel-workflow/action.yml
  .github/workflows/00-init.yml
  .github/workflows/00-install-cypress.yml
  .github/workflows/00-scan-secrets.yml
  .github/workflows/01-build-all.yml
  .github/workflows/01-build-showcases.yml
  .github/workflows/01-build-stencil-targets.yml
  .github/workflows/01-build-storybook.yml
  .github/workflows/01-test.yml
  .github/workflows/01-validate.yml
  .github/workflows/02-cypress.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/default.yml
Labels: cicd

test: update package-lock.json
  .github/actions/cancel-workflow/action.yml
  e2e/package-lock.json
Labels: cicd

chore: update package-lock.json
  package-lock.json
  showcase/angular-showcase/package-lock.json
  showcase/playground-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Labels: repo, angular-showcase, playground-showcase, react-showcase, vue-showcase

Feat npm and GitHub package publishing (#121)
  .github/actions/bundle-gh-page/action.yml
  .github/scripts/build-gh-page.sh
  .github/scripts/get-release.sh
  .github/scripts/package-version.sh
  .github/scripts/publish-npm.sh
  .github/workflows/01-build-showcases.yml
  .github/workflows/01-build-stencil-targets.yml
  .github/workflows/01-build-storybook.yml
  .github/workflows/01-get-publish-version.yml
  .github/workflows/03-changelog.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/03-npm-publish.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/default.yml
  .github/workflows/publish-release.yml
  .storybook/manager.js
  package-lock.json
  package.json
  packages/db-ui-elements-angular/package.json
  packages/db-ui-elements-stencil/package.json
  packages/db-ui-elements-stencil/stencil.config.ts
  scripts/build.js
  scripts/cleanup-gh-pages.js
  scripts/version-helper.js
  showcase/angular-showcase/package-lock.json
  showcase/playground-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Labels: repo, cicd, stencil, angular, angular-showcase, playground-showcase, react-showcase, vue-showcase

feat: start to connect zeplin with storybook
  .env.template
  .storybook/main.js
  .storybook/preview.js
  .zeplin/components.json
  package-lock.json
  package.json
  packages/db-ui-elements-stencil/src/components/db-button/stories/db-button.demo.stories.ts
  showcase/angular-showcase/package-lock.json
  showcase/playground-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Labels: repo, stencil, angular-showcase, playground-showcase, react-showcase, vue-showcase

chore: update from main
  .github/actions/cancel-workflow/action.yml
  .github/workflows/00-init.yml
  .github/workflows/00-install-cypress.yml
  .github/workflows/00-scan-secrets.yml
  .github/workflows/01-build-all.yml
  .github/workflows/01-build-showcases.yml
  .github/workflows/01-build-stencil-targets.yml
  .github/workflows/01-build-storybook.yml
  .github/workflows/01-get-publish-version.yml
  .github/workflows/01-test.yml
  .github/workflows/01-validate.yml
  .github/workflows/02-cypress.yml
  .github/workflows/03-changelog.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/03-publish-packages.yml
Labels: cicd

test: cypress cicd
  .github/workflows/02-cypress.yml
Labels: cicd

test: cypress cicd
  e2e/package-lock.json
  e2e/package.json
  package-lock.json
  package.json
  showcase/angular-showcase/package-lock.json
Labels: repo, angular-showcase

fix: issue with missing release environment var
  .github/scripts/get-release.sh
  .github/workflows/01-get-publish-version.yml
Labels: cicd

fix: cypress cicd
  .github/workflows/02-cypress.yml
Labels: cicd

fix: issue with missing release environment var (#143)
  .github/scripts/get-release.sh
  .github/workflows/01-get-publish-version.yml
Labels: cicd

style: storybook theming
  .storybook/manager-head.html
Labels: none

fix: missing referenced icons
  packages/db-ui-elements-stencil/src/components/db-input/db-input.scss
  packages/db-ui-elements-stencil/src/components/db-select/db-select.scss
Labels: stencil

deploy: d55e0b2823dd0486612a77cbb92f936c6cdba15f
  review/main/project.json
Labels: none

fix: gh-pages build for release
  .github/scripts/build-gh-page.sh
  .gitignore
Labels: repo, cicd

fix: gh-pages build for release (#165)
  .github/scripts/build-gh-page.sh
  .gitignore
Labels: repo, cicd

deploy: 18ecf63feb519484c5d0b9288bc0d639e247f47f
  review/main/project.json
Labels: none

feat: add new workflow to add gh-pages url to PR
  .github/scripts/get-gh-page-url.sh
  .github/workflows/99-add-url-comment.yml
  .github/workflows/pull-request-opened.yml
Labels: cicd

fix: issue with context
  .github/workflows/99-add-url-comment.yml
  .github/workflows/pull-request-opened.yml
Labels: cicd
