Repository db-ui/elements, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, cicd, stencil, angular, react, vue, angular-showcase, playground-showcase, react-showcase, reactwind-showcase, vue-showcase

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-latest.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages-latest.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages-latest.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/actions/get-package-version/action.yml
  .github/workflows/03-publish-packages-latest.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages-latest.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages-latest.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages-latest.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages-latest.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages-latest.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages-latest.yml
Labels: cicd

fix: add check for commit mail to make sure you have the correct user mail
  .env.template
  .husky/pre-commit
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
  scripts/check-commit-mail.js
  showcase/angular-showcase/package-lock.json
  showcase/reactwind-showcase/package-lock.json
Labels: repo, angular-showcase, reactwind-showcase

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages-latest.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  packages/db-ui-elements-angular/package.json
Labels: angular

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages-latest.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages-latest.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages-latest.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages-latest.yml
Labels: cicd

fix: add check for commit mail to make sure you have the correct user… (#105)
  .env.template
  .husky/pre-commit
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
  scripts/check-commit-mail.js
  showcase/angular-showcase/package-lock.json
  showcase/reactwind-showcase/package-lock.json
Labels: repo, angular-showcase, reactwind-showcase

refactor: added further information to the homepage (#90)
  cypress/integration/other/welcome-story.spec.js
  doc/howto-start.md
  doc/license.md
  packages/db-ui-elements-stencil/src/assets/angular-showcase.svg
  packages/db-ui-elements-stencil/src/assets/angular-showcase.svg.license
  packages/db-ui-elements-stencil/src/assets/angular.svg
  packages/db-ui-elements-stencil/src/assets/angular.svg.license
  packages/db-ui-elements-stencil/src/assets/javascript.svg
  packages/db-ui-elements-stencil/src/assets/javascript.svg.license
  packages/db-ui-elements-stencil/src/assets/react-showcase.svg
  packages/db-ui-elements-stencil/src/assets/react-showcase.svg.license
  packages/db-ui-elements-stencil/src/assets/react-wind-showcase.svg
  packages/db-ui-elements-stencil/src/assets/react-wind-showcase.svg.license
  packages/db-ui-elements-stencil/src/assets/react.svg
  packages/db-ui-elements-stencil/src/assets/react.svg.license
  packages/db-ui-elements-stencil/src/assets/vue-showcase.svg
  packages/db-ui-elements-stencil/src/assets/vue-showcase.svg.license
  packages/db-ui-elements-stencil/src/assets/vue.svg
  packages/db-ui-elements-stencil/src/assets/vue.svg.license
  packages/db-ui-elements-stencil/src/components/db-card/db-card.scss
  packages/db-ui-elements-stencil/src/components/db-card/db-card.tsx
  packages/db-ui-elements-stencil/src/components/db-card/readme.md
  packages/db-ui-elements-stencil/src/components/db-cards/db-cards.tsx
  packages/db-ui-elements-stencil/src/components/db-cards/stories/db-cards.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-headline/readme.md
  packages/db-ui-elements-stencil/src/stories/intro/getting-started.stories.mdx
  packages/db-ui-elements-stencil/src/stories/intro/welcome.stories.mdx
  scripts/illustration-generator.js
Labels: stencil

refactor: hide obsolete style sections and unstyled variant (#88)
  cypress/integration/elements/db-select.spec.js
  packages/db-ui-elements-stencil/src/components/db-button/readme.md
  packages/db-ui-elements-stencil/src/components/db-checkbox/readme.md
  packages/db-ui-elements-stencil/src/components/db-icon/readme.md
  packages/db-ui-elements-stencil/src/components/db-input/readme.md
  packages/db-ui-elements-stencil/src/components/db-link/readme.md
  packages/db-ui-elements-stencil/src/components/db-radio/readme.md
  packages/db-ui-elements-stencil/src/components/db-select/stories/db-select.intro.stories.mdx
Labels: stencil

feat: add mobile scrolling header & footer
  .stylelintrc.json
  packages/db-ui-elements-stencil/src/components/db-footer/db-footer.scss
  packages/db-ui-elements-stencil/src/components/db-footer/db-footer.tsx
  packages/db-ui-elements-stencil/src/components/db-footer/readme.md
  packages/db-ui-elements-stencil/src/components/db-footer/stories/db-footer.mobile.stories.ts
  packages/db-ui-elements-stencil/src/components/db-header/db-header.scss
  packages/db-ui-elements-stencil/src/components/db-header/db-header.tsx
  packages/db-ui-elements-stencil/src/components/db-header/readme.md
  packages/db-ui-elements-stencil/src/components/db-header/stories/db-header.mobile.stories.ts
  packages/db-ui-elements-stencil/src/components/db-page/db-page.scss
  packages/db-ui-elements-stencil/src/components/db-page/db-page.tsx
  packages/db-ui-elements-stencil/src/components/db-page/stories/db-page.mobile.stories.ts
  packages/db-ui-elements-stencil/src/components/db-table/stories/mockData.ts
  packages/db-ui-elements-stencil/src/utils/utils.ts
Labels: repo, stencil

ci: 🎡 npm publish CI WIP
  .github/actions/publish-latest-to-registry/action.yml
  .github/workflows/03-publish-packages-latest.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/actions/publish-latest-to-registry/action.yml
  .github/actions/publish-to-registry/action.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/actions/get-package-version/action.yml
  .github/actions/publish-to-registry/action.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/actions/get-package-version/action.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/actions/get-package-version/action.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/actions/get-package-version/action.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/actions/get-package-version-latest/action.yml
  .github/actions/get-package-version-next/action.yml
  .github/actions/get-package-version/action.yml
  .github/workflows/03-publish-packages.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/actions/get-package-version-latest/action.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/03-publish-packages.yml
  .github/workflows/publish-release.yml
Labels: cicd

ci: 🎡 npm publish CI WIP
  .github/workflows/00-init.yml
Labels: cicd

.github/labeler.yml:

---
# Add 'repo' label to any root file changes
repo:
  - '*'

# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'stencil' label to any file changes for stencil
stencil:
  - packages/db-ui-elements-stencil/**

# Add 'angular' label to any file changes for angular-build-target
angular:
  - packages/db-ui-elements-angular/**

# Add 'react' label to any file changes for angular-build-target
react:
  - packages/db-ui-elements-react/**

# Add 'vue' label to any file changes for angular-build-target
vue:
  - packages/db-ui-elements-vue/**

# Add 'angular-showcase' label to any file changes for angular-showcase
angular-showcase:
  - showcase/angular-showcase/**

# Add 'playground-showcase' label to any file changes for playground-showcase
playground-showcase:
  - showcase/playground-showcase/**

# Add 'react-showcase' label to any file changes for react-showcase
react-showcase:
  - showcase/react-showcase/**

# Add 'reactwind-showcase' label to any file changes for reactwind-showcase
reactwind-showcase:
  - showcase/reactwind-showcase/**

# Add 'vue-showcase' label to any file changes for vue-showcase
vue-showcase:
  - showcase/vue-showcase/**
