Repository db-ui/elements, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, cicd, stencil, angular, react, vue, angular-showcase, playground-showcase, react-showcase, reactwind-showcase, vue-showcase

.github/labeler.yml:

---
# Add 'repo' label to any root file changes
repo:
  - '*'

# Add 'cicd' label to any file changes inside .github dir
cicd:
  - .github/*
  - .github/**/*

# Add 'stencil' label to any file changes for stencil
stencil:
  - packages/db-ui-elements-stencil/**

# Add 'angular' label to any file changes for angular-build-target
angular:
  - packages/db-ui-elements-angular/**

# Add 'react' label to any file changes for angular-build-target
react:
  - packages/db-ui-elements-react/**

# Add 'vue' label to any file changes for angular-build-target
vue:
  - packages/db-ui-elements-vue/**

# Add 'angular-showcase' label to any file changes for angular-showcase
angular-showcase:
  - showcase/angular-showcase/**

# Add 'playground-showcase' label to any file changes for playground-showcase
playground-showcase:
  - showcase/playground-showcase/**

# Add 'react-showcase' label to any file changes for react-showcase
react-showcase:
  - showcase/react-showcase/**

# Add 'reactwind-showcase' label to any file changes for reactwind-showcase
reactwind-showcase:
  - showcase/reactwind-showcase/**

# Add 'vue-showcase' label to any file changes for vue-showcase
vue-showcase:
  - showcase/vue-showcase/**

feat: added loading state attribute
  packages/db-ui-elements-stencil/src/components/db-button/__tests__/db-button.spec.tsx
  packages/db-ui-elements-stencil/src/components/db-button/db-button.tsx
  packages/db-ui-elements-stencil/src/components/db-button/readme.md
  packages/db-ui-elements-stencil/src/components/db-button/stories/button.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-button/stories/db-button.demo.stories.ts
Labels: stencil

deploy: 41acff78a80224dc475f6c3058bd551902b04525
  review/main/project.json
Labels: none

deploy: 7e9c7729a112daf22a960e8f16ecfd91e20c8853
  review/main/301.868ae444.iframe.bundle.js.LICENSE.txt
  review/main/701.3764c59f.iframe.bundle.js
  review/main/847.ea03f2c4.iframe.bundle.js.LICENSE.txt
  review/main/948.3aaf0ad6.iframe.bundle.js
  review/main/iframe.html
  review/main/main.3663970f.iframe.bundle.js
  review/main/main.3663970f.iframe.bundle.js.LICENSE.txt
  review/main/main.7886cd99.iframe.bundle.js
  review/main/main.7886cd99.iframe.bundle.js.LICENSE.txt
  review/main/project.json
  review/main/runtime~main.b4a5a5f8.iframe.bundle.js
  review/main/runtime~main.f197759b.iframe.bundle.js
Labels: none

deploy: fe2067e241dc2bb6e50ed49f1af7272a9818f78c
  review/main/625.00c45755.iframe.bundle.js.LICENSE.txt
  review/main/847.ea03f2c4.iframe.bundle.js.LICENSE.txt
  review/main/iframe.html
  review/main/main.3663970f.iframe.bundle.js
  review/main/main.3663970f.iframe.bundle.js.LICENSE.txt
  review/main/main.6650d925.iframe.bundle.js
  review/main/main.6650d925.iframe.bundle.js.LICENSE.txt
  review/main/project.json
Labels: none

deploy: dfa440fa7666b858183c19d16580cf4905af12c9
  review/main/project.json
Labels: none

deploy: 0eb3feea6c7ae7a60a2d7c18274df35d5caf3b59
  review/main/project.json
Labels: none

feat: add cleanup-gh-pages.js
  .github/scripts/cleanup-gh-pages.js
  .github/workflows/cleanup.yml
  package-lock.json
  package.json
  scripts/cleanup-gh-pages.js
  showcase/angular-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Labels: repo, cicd, angular-showcase, react-showcase, vue-showcase

feat: add auto update for v3 branch (#244)
  .github/scripts/auto-update-pr.js
  .github/workflows/99-auto-update-pr.yml
  .github/workflows/auto-update.yml
Labels: cicd

refactor: let's check for dependency updates on a daily basis (#201)
  .github/dependabot.yml
Labels: cicd

fix: getting-started.stories.mdx
  packages/db-ui-elements-stencil/src/stories/intro/getting-started.stories.mdx
  showcase/angular-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Labels: stencil, angular-showcase, react-showcase, vue-showcase

deploy: 7158ca72405e31945a18cd171ab542d4e7af88ca
  review/main/project.json
Labels: none

deploy: eb50aa83a1c43844c66a5db5c3411b7e7ad6a6a2
  review/main/project.json
Labels: none

deploy: a9438fbd61b7868100c6c32f86c3bb672f04a048
  review/main/100.bf9877dff6696276ea77.manager.bundle.js
  review/main/229.65390286f00bfc7f368f.manager.bundle.js
  review/main/377.18e7d6387d2848b5285c.manager.bundle.js
  review/main/460.7b4a9864780409a027f7.manager.bundle.js
  review/main/51.ad23f7408eb5e8118782.manager.bundle.js
  review/main/51.ad23f7408eb5e8118782.manager.bundle.js.LICENSE.txt
  review/main/531.77b6222180c2ce43c0a2.manager.bundle.js
  review/main/551.bf3e3f8a04c504d7bf79.manager.bundle.js
  review/main/67.327fc119684cd2262633.manager.bundle.js
  review/main/742.f89434b2474e79c67578.manager.bundle.js
  review/main/742.f89434b2474e79c67578.manager.bundle.js.LICENSE.txt
  review/main/75.38c112939bfe86f89176.manager.bundle.js
  review/main/807.ef44dc037a9d91ce76f4.manager.bundle.js
  review/main/807.ef44dc037a9d91ce76f4.manager.bundle.js.LICENSE.txt
  review/main/837.10b8994d05e8229e6f8b.manager.bundle.js
  review/main/897.bf19a60eda696ec1081c.manager.bundle.js
  review/main/897.bf19a60eda696ec1081c.manager.bundle.js.LICENSE.txt
  review/main/935.a749ab4aa7057cec88ef.manager.bundle.js
  review/main/index.html
  review/main/main.70d2b3ffa8d48d301c36.manager.bundle.js
  review/main/main.c1dd058d25371a45e227.manager.bundle.js
  review/main/project.json
  review/main/runtime~main.42816d019bf38dd12a1b.manager.bundle.js
  review/main/runtime~main.a54a8fee00cb4a355373.manager.bundle.js
Labels: none

refactor: regenerated package-lock.json files
  showcase/angular-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Labels: angular-showcase, react-showcase, vue-showcase

fix: corrected that test spec
  packages/db-ui-elements-stencil/src/components/db-brand/__tests__/db-brand.spec.tsx
Labels: stencil

refactor: not pinning CI/CD dependencies
  .github/workflows/00-scan-secrets.yml
  .github/workflows/99-auto-merge.yml
Labels: cicd

deploy: 8bd04984ad53d16329c1e9d0c8338ce27f103129
  review/main/project.json
Labels: none

deploy: 81ec16d881a313c78b4a8e0ac852c6a813077425
  review/refactor-removed-obsolete-declarations/project.json
Labels: none

Restore 00-scan-secrets.yml
  .github/workflows/00-scan-secrets.yml
Labels: cicd

deploy: 07e5457748cdb38598ea3a39c7145a7bbbe5f759
  review/refactor-aligned-not-pinning-cicd-dependencies/project.json
Labels: none

deploy: 5eb8bceb03c7998b9f4ceb767370ea73e979613a
  review/main/project.json
Labels: none

refactor: added sizes property
  packages/db-ui-elements-stencil/src/components/db-card/readme.md
  packages/db-ui-elements-stencil/src/components/db-checkbox/db-checkbox.tsx
  packages/db-ui-elements-stencil/src/components/db-checkbox/readme.md
  packages/db-ui-elements-stencil/src/components/db-link/readme.md
Labels: stencil

deploy: e44b737ac29a3d11aa41978e4cd993ce95f08c5e
  review/main/project.json
Labels: none

fix: getting-started.stories.mdx (#277)
  packages/db-ui-elements-stencil/src/stories/intro/getting-started.stories.mdx
  showcase/angular-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
Labels: stencil, angular-showcase, react-showcase

deploy: c8c7197d8fc3962d9865d7609c259fc46644b16a
  review/main/iframe.html
  review/main/main.0bf79db3.iframe.bundle.js
  review/main/main.d1ed3aa9.iframe.bundle.js
  review/main/main.d1ed3aa9.iframe.bundle.js.LICENSE.txt
  review/main/project.json
Labels: none

Fix broken link
  README.md
Labels: repo

deploy: 1472b8dac653c1a881f3cdae862d18375dcfb8f2
  review/main/project.json
Labels: none

refactor: removed obsolete declarations (#246)
  packages/db-ui-elements-stencil/src/components/db-brand/__tests__/db-brand.spec.tsx
  packages/db-ui-elements-stencil/src/components/db-brand/db-brand.scss
  packages/db-ui-elements-stencil/src/components/db-brand/db-brand.tsx
Labels: stencil

feat: add checks-done job
  .github/workflows/default.yml
Labels: cicd

fix: issue with vite (vue-showcase)
  showcase/vue-showcase/vite.config.ts
Labels: vue-showcase

fix: issue with vite (vue-showcase) (#338)
  showcase/vue-showcase/vite.config.ts
Labels: vue-showcase

deploy: 7934fd38eab44094d9b797627aae7fbac395781a
  review/main/playground-showcase/404.html
  review/main/playground-showcase/asset-manifest.json
  review/main/playground-showcase/index.html
  review/main/playground-showcase/static/js/main.584b4f10.js
  review/main/playground-showcase/static/js/main.584b4f10.js.LICENSE.txt
  review/main/playground-showcase/static/js/main.7f19e80b.js
  review/main/playground-showcase/static/js/main.7f19e80b.js.LICENSE.txt
  review/main/project.json
  review/main/react-showcase/404.html
  review/main/react-showcase/asset-manifest.json
  review/main/react-showcase/index.html
  review/main/react-showcase/static/js/main.b3f6b174.js
  review/main/react-showcase/static/js/main.b3f6b174.js.LICENSE.txt
  review/main/react-showcase/static/js/main.b3f6b174.js.map
  review/main/react-showcase/static/js/main.b561a296.js
  review/main/react-showcase/static/js/main.b561a296.js.LICENSE.txt
  review/main/react-showcase/static/js/main.b561a296.js.map
Labels: none

deploy: a66d8308fbb7095f9c9a786933284eb86029f909
  review/main/project.json
Labels: none

deploy: e80e9d80a47c59259894cdbc3db1513fb5cc8c4e
  review/main/project.json
Labels: none

deploy: 3294b4c48edb51ac26b293a310a58f775d7e68e5
  review/main/project.json
Labels: none

refactor: not pinning CI/CD dependencies (#293)
  .github/workflows/99-auto-merge.yml
Labels: cicd
