Repository db-ui/elements, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, cicd, stencil, angular, react, vue, angular-showcase, playground-showcase, react-showcase, reactwind-showcase, vue-showcase

.github/labeler.yml:

---
# Add 'repo' label to any root file changes
repo:
  - changed-files:
      - any-glob-to-any-file: '*'

# Add 'cicd' label to any file changes inside .github dir
cicd:
  - changed-files:
      - any-glob-to-any-file: ['.github/*', '.github/**/*']

# Add 'stencil' label to any file changes for stencil
stencil:
  - changed-files:
      - any-glob-to-any-file: 'packages/db-ui-elements-stencil/**'

# Add 'angular' label to any file changes for angular-build-target
angular:
  - changed-files:
      - any-glob-to-any-file: 'packages/db-ui-elements-angular/**'

# Add 'react' label to any file changes for angular-build-target
react:
  - changed-files:
      - any-glob-to-any-file: 'packages/db-ui-elements-react/**'

# Add 'vue' label to any file changes for angular-build-target
vue:
  - changed-files:
      - any-glob-to-any-file: 'packages/db-ui-elements-vue/**'

# Add 'angular-showcase' label to any file changes for angular-showcase
angular-showcase:
  - changed-files:
      - any-glob-to-any-file: 'showcase/angular-showcase/**'

# Add 'playground-showcase' label to any file changes for playground-showcase
playground-showcase:
  - changed-files:
      - any-glob-to-any-file: 'showcase/playground-showcase/**'

# Add 'react-showcase' label to any file changes for react-showcase
react-showcase:
  - changed-files:
      - any-glob-to-any-file: 'showcase/react-showcase/**'

# Add 'reactwind-showcase' label to any file changes for reactwind-showcase
reactwind-showcase:
  - changed-files:
      - any-glob-to-any-file: 'showcase/reactwind-showcase/**'

# Add 'vue-showcase' label to any file changes for vue-showcase
vue-showcase:
  - changed-files:
      - any-glob-to-any-file: 'showcase/vue-showcase/**'

chore: removed lts angular showcase to reduce complexity
  showcase/angular-lts-showcase/src/app/app.component.html
  showcase/angular-lts-showcase/src/app/app.component.ts
  showcase/angular-lts-showcase/src/index.html
  showcase/angular-showcase/src/app/app.component.html
  showcase/angular-showcase/src/app/app.component.ts
  showcase/angular-showcase/src/index.html
Labels: angular-showcase

deploy: 9af17781f0c2768eee58ff08bcfd27e7400ed3db
  review/main/project.json
Labels: none

deploy: 74d171a7d8278fb486a21af868b2c1d8176453b0
  review/main/project.json
Labels: none

deploy: e8549ca85cfbd277e2a8731bfa054b189bbf6a4c
  review/main/project.json
Labels: none

deploy: 6ef9c875757e8cca9c65a5db0f485e5835a161f0
  review/main/angular-active-showcase/main.js
  review/main/angular-lts-showcase/main.js
  review/main/project.json
Labels: none

deploy: c1f2a37f696aeca518d15def1b1af2a51027e7ae
  review/main/project.json
Labels: none

chore: remove remaining angular-lts stuff
  .github/workflows/01-build-all.yml
  .github/workflows/01-build-showcases.yml
  .github/workflows/01-build-storybook.yml
  e2e/cypress/e2e/99-1-showcases/showcases-tables.cy.js
  e2e/cypress/fixtures/showcases.json
  package.json
  scripts/review-page-helper.js
Labels: repo, cicd

chore: update from main
  package-lock.json
Labels: repo

deploy: 7b0e2270eeeebf1b7feb0673424a800821d66402
  review/main/project.json
Labels: none
