Repository db-ui/elements, pull requests merged in 2022-08, with the labels that each got.

#77 fix: issue with permission for pull-request.yml
  .github/workflows/pull-request.yml
Labels: cicd

#76 fix: use concurrently for pre-commit
  .husky/pre-commit
  packages/db-ui-elements-stencil/src/components/development/github-version-switcher/github-version-switcher.tsx
Labels: stencil

#59 Add trufflehog to scan secrets
  .github/workflows/00-scan-secrets.yml
  .github/workflows/default.yml
  package.json
Labels: cicd, repo

#81 refactor: further optimized dependabot on monrepo setup
  .github/dependabot.yml
  package.json
Labels: cicd, github_actions, repo

#93 refactor: dependency updates
  package-lock.json
  packages/db-ui-elements-angular/package.json
  showcase/angular-showcase/package-lock.json
  showcase/angular-showcase/package.json
Labels: angular-showcase, repo, angular

#105 fix: add check for commit mail to make sure you have the correct user…
  .env.template
  .husky/pre-commit
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
  scripts/check-commit-mail.js
  showcase/angular-showcase/package-lock.json
  showcase/reactwind-showcase/package-lock.json
Labels: reactwind-showcase, angular-showcase, repo

#90 refactor: added further information to the homepage
  cypress/integration/other/welcome-story.spec.js
  doc/howto-start.md
  doc/license.md
  packages/db-ui-elements-stencil/src/assets/angular-showcase.svg
  packages/db-ui-elements-stencil/src/assets/angular-showcase.svg.license
  packages/db-ui-elements-stencil/src/assets/angular.svg
  packages/db-ui-elements-stencil/src/assets/angular.svg.license
  packages/db-ui-elements-stencil/src/assets/javascript.svg
  packages/db-ui-elements-stencil/src/assets/javascript.svg.license
  packages/db-ui-elements-stencil/src/assets/react-showcase.svg
  packages/db-ui-elements-stencil/src/assets/react-showcase.svg.license
  packages/db-ui-elements-stencil/src/assets/react-wind-showcase.svg
  packages/db-ui-elements-stencil/src/assets/react-wind-showcase.svg.license
  packages/db-ui-elements-stencil/src/assets/react.svg
  packages/db-ui-elements-stencil/src/assets/react.svg.license
  packages/db-ui-elements-stencil/src/assets/vue-showcase.svg
  packages/db-ui-elements-stencil/src/assets/vue-showcase.svg.license
  packages/db-ui-elements-stencil/src/assets/vue.svg
  packages/db-ui-elements-stencil/src/assets/vue.svg.license
  packages/db-ui-elements-stencil/src/components/db-card/db-card.scss
  packages/db-ui-elements-stencil/src/components/db-card/db-card.tsx
  packages/db-ui-elements-stencil/src/components/db-card/readme.md
  packages/db-ui-elements-stencil/src/components/db-cards/db-cards.tsx
  packages/db-ui-elements-stencil/src/components/db-cards/stories/db-cards.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-headline/readme.md
  packages/db-ui-elements-stencil/src/stories/intro/getting-started.stories.mdx
  packages/db-ui-elements-stencil/src/stories/intro/welcome.stories.mdx
  scripts/illustration-generator.js
Labels: stencil

#88 refactor: hide obsolete style sections and unstyled variant
  cypress/integration/elements/db-select.spec.js
  packages/db-ui-elements-stencil/src/components/db-button/readme.md
  packages/db-ui-elements-stencil/src/components/db-checkbox/readme.md
  packages/db-ui-elements-stencil/src/components/db-icon/readme.md
  packages/db-ui-elements-stencil/src/components/db-input/readme.md
  packages/db-ui-elements-stencil/src/components/db-link/readme.md
  packages/db-ui-elements-stencil/src/components/db-radio/readme.md
  packages/db-ui-elements-stencil/src/components/db-select/stories/db-select.intro.stories.mdx
Labels: stencil

#134 chore: update dependabot.yml
  .github/dependabot.yml
  packages/db-ui-elements-stencil/package.json
Labels: cicd, stencil

#121 Feat npm and GitHub package publishing
  .github/actions/bundle-gh-page/action.yml
  .github/scripts/build-gh-page.sh
  .github/scripts/get-release.sh
  .github/scripts/package-version.sh
  .github/scripts/publish-npm.sh
  .github/workflows/01-build-showcases.yml
  .github/workflows/01-build-stencil-targets.yml
  .github/workflows/01-build-storybook.yml
  .github/workflows/01-get-publish-version.yml
  .github/workflows/03-changelog.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/03-npm-publish.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/default.yml
  .github/workflows/publish-release.yml
  .storybook/manager.js
  package-lock.json
  package.json
  packages/db-ui-elements-angular/package.json
  packages/db-ui-elements-stencil/package.json
  packages/db-ui-elements-stencil/stencil.config.ts
  scripts/build.js
  scripts/cleanup-gh-pages.js
  scripts/version-helper.js
  showcase/angular-showcase/package-lock.json
  showcase/playground-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Labels: cicd, vue-showcase, playground-showcase, react-showcase, angular-showcase, repo, stencil, angular

#143 fix: issue with missing release environment var
  .github/scripts/get-release.sh
  .github/workflows/01-get-publish-version.yml
Labels: cicd
