Repository db-ui/elements, pull requests merged in 2022-09, with the labels that each got.

#165 fix: gh-pages build for release
  .github/scripts/build-gh-page.sh
  .gitignore
Labels: cicd

#167 feat: add new workflow to add gh-pages url to PR
  .github/workflows/99-add-url-comment.yml
  .github/workflows/pull-request-opened.yml
Labels: cicd

#199 fix: urls
  doc/howto-angular.md
  doc/howto-javascript.md
  doc/howto-react.md
  doc/howto-vue.md
Labels: documentation

#202 refactor: stencil update
  package-lock.json
  packages/db-ui-elements-stencil/package.json
  showcase/angular-showcase/package-lock.json
Labels: dependencies, angular-showcase, repo, stencil

#206 feat: storybook theming
  .storybook/dbTheme.js
  .storybook/manager-head.html
  .storybook/manager.js
  .storybook/preview-head.html
Labels: enhancement

#208 fix: "next" tag nomenclature
  .github/scripts/publish-npm.sh
Labels: cicd

#164 fix: missing referenced icons
  package-lock.json
  packages/db-ui-elements-stencil/package.json
  packages/db-ui-elements-stencil/src/components/db-input/db-input.scss
  packages/db-ui-elements-stencil/src/components/db-select/db-select.scss
  showcase/angular-showcase/package-lock.json
Labels: bug, angular-showcase, repo, stencil

#205 refactor: @stencil/sass dependency update
  package-lock.json
  packages/db-ui-elements-stencil/package.json
Labels: dependencies, repo, stencil

#168 chore: update reactwind-showcase README.md
  showcase/playground-showcase/src/editor/tailwind.generated.css
  showcase/reactwind-showcase/README.md
  showcase/reactwind-showcase/src/index.css
Labels: playground-showcase, reactwind-showcase

#207 ci: get latest git tag and save to .env
  .github/workflows/01-build-storybook.yml
  .github/workflows/01-get-latest-tag.yml
  .github/workflows/default.yml
  .github/workflows/publish-release.yml
Labels: cicd

#221 chore: remove unused dependencies
  package-lock.json
  package.json
  packages/db-ui-elements-react/package.json
  packages/db-ui-elements-stencil/package.json
  packages/db-ui-elements-stencil/package.md
  packages/db-ui-elements-vue/package.json
  showcase/playground-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/reactwind-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Labels: vue-showcase, playground-showcase, reactwind-showcase, react-showcase, repo, stencil, vue, react

#226 fix: referenced demo image URLs
  showcase/angular-showcase/src/app/components/other-elements/other-elements.component.html
  showcase/react-showcase/src/components/other-elements/index.js
  showcase/vue-showcase/src/components/other-elements/OtherElements.vue
Labels: bug, documentation, vue-showcase, react-showcase, angular-showcase

#227 fix: we need to fix those paths
  .storybook/manager-head.html
  .storybook/preview-head.html
  doc/howto-javascript.md
  packages/db-ui-elements-stencil/stencil.config.ts
Labels: bug, documentation, stencil

#223 refactor(codeowners): added Anna
  CODEOWNERS
Labels: enhancement, repo

#247 refactor: increase the limit of PRs being opened by dependabot in parallel
  .github/dependabot.yml
Labels: cicd

#244 feat: add auto update for v3 branch
  .github/scripts/auto-update-pr.js
  .github/workflows/99-auto-update-pr.yml
  .github/workflows/auto-update.yml
Labels: enhancement, cicd

#201 refactor: let's check for dependency updates on a daily basis
  .github/dependabot.yml
Labels: dependencies, cicd
