Repository db-ui/elements, pull requests merged in 2022-10, with the labels that each got.

#277 fix: getting-started.stories.mdx
  packages/db-ui-elements-stencil/src/stories/intro/getting-started.stories.mdx
  showcase/angular-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
Labels: react-showcase, angular-showcase, stencil

#246 refactor: removed obsolete declarations
  packages/db-ui-elements-stencil/src/components/db-brand/__tests__/db-brand.spec.tsx
  packages/db-ui-elements-stencil/src/components/db-brand/db-brand.scss
  packages/db-ui-elements-stencil/src/components/db-brand/db-brand.tsx
Labels: enhancement, stencil

#338 fix: issue with vite (vue-showcase)
  showcase/vue-showcase/vite.config.ts
Labels: vue-showcase

#337 feat: add checks-done job
  .github/workflows/default.yml
Labels: cicd

#293 refactor: not pinning CI/CD dependencies
  .github/workflows/99-auto-merge.yml
Labels: cicd

#271 feat: add cleanup-gh-pages.js
  .github/scripts/cleanup-gh-pages.js
  .github/workflows/cleanup.yml
  package-lock.json
  package.json
  scripts/cleanup-gh-pages.js
  showcase/angular-showcase/package-lock.json
  showcase/reactwind-showcase/package-lock.json
Labels: cicd, reactwind-showcase, angular-showcase, repo

#355 ci: 🎡 Update styfle/cancel-workflow-action@0.11.0
  .github/workflows/00-init.yml
  package.json
Labels: cicd, repo

#313 Fix broken link in README
  README.md
Labels: hacktoberfest

#365 refactor: using semantic release prefixes for the branch names
  package.json
Labels: enhancement, cicd

#372 feat: added code and text spell checker
  .vscode/extensions.json
Labels: enhancement

#437 fix: pipeline
  .github/actions/cancel-workflow/action.yml
  .github/workflows/default.yml
  .github/workflows/pull-request-opened.yml
  .github/workflows/pull-request.yml
Labels: bug, cicd
