Repository db-ui/elements, pull requests merged in 2023-02, with the labels that each got.

#921 refactor: updated lock files by npm i in root
  e2e/package-lock.json
  showcase/reactwind-showcase/package-lock.json
Labels: dependencies, reactwind-showcase

#570 feat(logo): integrate sizes and related pulse as an option for headlines
  e2e/cypress/integration/04-1-data-display/db-logo.spec.js
  e2e/cypress/integration/99-1-showcases/showcases-other-elements.spec.js
  packages/db-ui-elements-angular/projects/lib/src/db-ui-elements-module.ts
  packages/db-ui-elements-stencil/src/components/db-headline/db-headline.tsx
  packages/db-ui-elements-stencil/src/components/db-headline/readme.md
  packages/db-ui-elements-stencil/src/components/db-headline/stories/db-headline.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-logo/db-logo.scss
  packages/db-ui-elements-stencil/src/components/db-logo/db-logo.tsx
  packages/db-ui-elements-stencil/src/components/db-logo/readme.md
  packages/db-ui-elements-stencil/src/components/db-logo/stories/db-logo.intro.stories.mdx
  packages/db-ui-elements-stencil/stencil.config.ts
  showcase/angular-showcase/src/app/components/other-elements/other-elements.component.html
  showcase/react-showcase/src/components/other-elements/index.js
  showcase/vue-showcase/src/components/other-elements/OtherElements.vue
Labels: enhancement, vue-showcase, react-showcase, angular-showcase, stencil, angular, community feedback

#890 refactor: updated functional iconset
  packages/db-ui-elements-stencil/src/components/db-icon/db-icon.tsx
  packages/db-ui-elements-stencil/src/components/db-icon/iconset.array.ts
  packages/db-ui-elements-stencil/src/components/db-icon/readme.md
  packages/db-ui-elements-stencil/src/components/db-icon/stories/db-icon.demo.stories.ts
  packages/db-ui-elements-stencil/src/components/db-link/db-link.tsx
  packages/db-ui-elements-stencil/src/components/db-link/readme.md
  packages/db-ui-elements-stencil/src/utils/utils.ts
  showcase/playground-showcase/src/grapesjs/blocks/elements.ts
Labels: enhancement, playground-showcase, stencil, assets

#1003 refactor(chip): added selected state
  packages/db-ui-elements-stencil/src/components/db-chip/db-chip.tsx
  packages/db-ui-elements-stencil/src/components/db-chip/readme.md
  packages/db-ui-elements-stencil/src/components/db-chip/stories/db-chip.intro.stories.mdx
Labels: bug, stencil

#1006 test(markdownlint): doesn't provide correct results
  .markdown-lint.yml
  .markdownlintignore
  README.md
  doc/adr/adr-03-viewEncapsulation.md
  package.json
  showcase/vue-showcase/README.md
Labels: bug, vue-showcase, repo

#1002 chore: install and build
  packages/db-ui-elements-stencil/src/components/db-card/readme.md
  packages/db-ui-elements-stencil/src/components/db-link/readme.md
  showcase/angular-showcase/package-lock.json
  showcase/react-showcase/package-lock.json
  showcase/vue-showcase/package-lock.json
Labels: vue-showcase, react-showcase, angular-showcase, stencil, improvement

#1018 feat: added another transportation icon
  packages/db-ui-elements-stencil/src/components/db-icon/iconset.array.ts
  showcase/playground-showcase/src/grapesjs/icons.tsx
Labels: playground-showcase, stencil, improvement

#1033 refactor: replaced sample images
  packages/db-ui-elements-stencil/src/components/db-image/stories/alexander-bagno-iILbjYtkyG0-unsplash.1128x759.jpg
  packages/db-ui-elements-stencil/src/components/db-image/stories/alexander-bagno-iILbjYtkyG0-unsplash.1128x759.jpg.license
  packages/db-ui-elements-stencil/src/components/db-image/stories/alexander-bagno-iILbjYtkyG0-unsplash.376x253.avif
  packages/db-ui-elements-stencil/src/components/db-image/stories/alexander-bagno-iILbjYtkyG0-unsplash.376x253.avif.license
  packages/db-ui-elements-stencil/src/components/db-image/stories/alexander-bagno-iILbjYtkyG0-unsplash.376x253.jpg
  packages/db-ui-elements-stencil/src/components/db-image/stories/alexander-bagno-iILbjYtkyG0-unsplash.376x253.jpg.license
  packages/db-ui-elements-stencil/src/components/db-image/stories/alexander-bagno-iILbjYtkyG0-unsplash.376x253.webp
  packages/db-ui-elements-stencil/src/components/db-image/stories/alexander-bagno-iILbjYtkyG0-unsplash.376x253.webp.license
  packages/db-ui-elements-stencil/src/components/db-image/stories/alexander-bagno-iILbjYtkyG0-unsplash.752x506.jpg
  packages/db-ui-elements-stencil/src/components/db-image/stories/alexander-bagno-iILbjYtkyG0-unsplash.752x506.jpg.license
  packages/db-ui-elements-stencil/src/components/db-image/stories/db-image.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.1128x846.squoosh.avif
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.1128x846.squoosh.avif.license
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.1128x846.squoosh.mozjpeg.jpg
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.1128x846.squoosh.mozjpeg.jpg.license
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.1128x846.squoosh.webp
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.1128x846.squoosh.webp.license
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.376x282.squoosh.avif
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.376x282.squoosh.avif.license
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.376x282.squoosh.mozjpeg.jpg
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.376x282.squoosh.mozjpeg.jpg.license
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.376x282.squoosh.webp
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.376x282.squoosh.webp.license
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.752x564.squoosh.avif
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.752x564.squoosh.avif.license
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.752x564.squoosh.mozjpeg.jpg
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.752x564.squoosh.mozjpeg.jpg.license
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.752x564.squoosh.webp
  packages/db-ui-elements-stencil/src/components/db-image/stories/maximilian--UZa949e8LE-unsplash.752x564.squoosh.webp.license
  showcase/angular-showcase/src/app/components/other-elements/other-elements.component.html
  showcase/react-showcase/src/components/other-elements/index.js
  showcase/vue-showcase/src/components/other-elements/OtherElements.vue
Labels: vue-showcase, react-showcase, angular-showcase, stencil, improvement

#1035 refactor: set pipelines and local node versions equally
  .github/actions/npm-cache/action.yml
Labels: bug, cicd

#1024 fix: checks-done step must succeed
  .github/workflows/default.yml
Labels: bug, cicd

#1053 refactor: ignoring further angular major version dependency updates
  .github/dependabot.yml
Labels: dependencies, cicd, improvement

#1062 simplify import in reactwind-showcase example
  showcase/reactwind-showcase/src/App.js
Labels: improvement
