Repository db-ui/elements, pull requests merged in 2024-05, with the labels that each got.

#2500 feat(db-input): added counter
  package-lock.json
  packages/db-ui-elements-stencil/package.json
  packages/db-ui-elements-stencil/src/components/db-input/__tests__/db-input.spec.tsx
  packages/db-ui-elements-stencil/src/components/db-input/db-input.scss
  packages/db-ui-elements-stencil/src/components/db-input/db-input.tsx
  packages/db-ui-elements-stencil/src/components/db-input/stories/db-input.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-textarea/db-textarea.scss
Labels: enhancement, repo, stencil

#2535 chore: added missing type
  packages/db-ui-elements-stencil/src/components/db-input/db-input.tsx
Labels: stencil, improvement

#2539 fix: wrong links for getting started cards
  e2e/cypress/e2e/00-0-intro/welcome-story.cy.js
  packages/db-ui-elements-stencil/src/stories/intro/getting-started.stories.mdx
  packages/db-ui-elements-stencil/src/stories/intro/welcome.stories.mdx
Labels: stencil

#2538 fix: issue with react-showcases wrong path
  showcase/react-showcase/vite.config.js
  showcase/reactwind-showcase/vite.config.js
Labels: reactwind-showcase, react-showcase
