Repository db-ui/elements, pull requests merged in 2024-11, with the labels that each got.

#2816 chore: update several dependencies
  .gitignore
  package-lock.json
  package.json
  packages/db-ui-elements-angular/package.json
  packages/db-ui-elements-react/package.json
  packages/db-ui-elements-react/src/react-component-lib/createControllerComponent.tsx
  packages/db-ui-elements-react/src/react-component-lib/index.ts
  packages/db-ui-elements-react/src/react-component-lib/interfaces.ts
  packages/db-ui-elements-react/src/react-component-lib/utils/attachEventProps.ts
  packages/db-ui-elements-react/src/react-component-lib/utils/case.ts
  packages/db-ui-elements-react/src/react-component-lib/utils/dev.ts
  packages/db-ui-elements-react/tsconfig.json
  packages/db-ui-elements-stencil/.eslintignore
  packages/db-ui-elements-stencil/src/components/db-checkbox/db-checkbox.tsx
  packages/db-ui-elements-stencil/src/components/db-footer/db-footer.tsx
  packages/db-ui-elements-stencil/src/components/db-image/db-image.tsx
  packages/db-ui-elements-stencil/src/components/db-input/db-input.tsx
  packages/db-ui-elements-stencil/src/components/db-progress/db-progress.tsx
  packages/db-ui-elements-stencil/src/components/db-radio/db-radio.tsx
  packages/db-ui-elements-stencil/src/components/db-select/db-select.tsx
  packages/db-ui-elements-stencil/src/components/db-table/db-table.tsx
  packages/db-ui-elements-stencil/src/components/db-textarea/db-textarea.tsx
  packages/db-ui-elements-stencil/src/utils/utils.ts
  scripts/react-helper.js
  showcase/angular-active-showcase/package.json
  showcase/angular-lts-showcase/package.json
  showcase/playground-showcase/package.json
  showcase/react-showcase/package.json
  showcase/react-showcase/src/App.jsx
  showcase/reactwind-showcase/package.json
Labels: playground-showcase, reactwind-showcase, react-showcase, repo, stencil, angular, react, angular-lts-showcase, angular-active-showcase

#2860 chore: update dependabot.yml to ignore stencil output targets
  .github/dependabot.yml
Labels: cicd

#2889 fix(prettier): windows environments
  .config/.lintstagedrc-prettier.js
  .husky/pre-commit
Labels: bug
