Repository db-ui/elements, pull requests merged in 2024-02, with the labels that each got.

#2305 fix: only scan secrets on pr to fix issue on main
  .github/workflows/00-scan-secrets.yml
Labels: cicd

#2334 refactor: updated dependabot groups
  .github/dependabot.yml
Labels: dependencies, cicd, improvement

#2361 refactor: added recommendation for `stylelint` VS Code extension
  .vscode/extensions.json
Labels: improvement

#2362 refactor: added relevant VS Code setting for default linter
  .vscode/settings.json
Labels: improvement

#2360 fix: somebody has removed husky prepare script by fault
  package.json
Labels: bug, repo

#2392 feat(dependabot): added new groups
  .github/dependabot.yml
Labels: dependencies, cicd, improvement

#2391 chore(dependabot): added dependencies to the `major` update ignore list
  .github/dependabot.yml
Labels: dependencies, cicd, improvement

#2403 refactor(angular): did necessary updates and optimization
  .github/dependabot.yml
  package-lock.json
  showcase/angular-lts-minus-1-showcase/package.json
  showcase/angular-lts-showcase/package.json
Labels: cicd, repo, improvement, angular-lts-showcase, angular-lts-minus-1-showcase
