Repository db-ui/elements, pull requests merged in 2024-07, with the labels that each got.

#2585 refactor(codeowners): added bruno
  CODEOWNERS
Labels: repo, improvement

#2621 docs(marketingportal): updated urls
  doc/howto-style.md
  packages/storybook/.storybook/dbTheme.js
Labels: bug, documentation

#2641 fix: issue with angular lib having old version
  packages/db-ui-elements-angular/package.json
  packages/db-ui-elements-angular/projects/lib/package.json
Labels: angular

#2640 fix(docs): removed obsolete tilde
  doc/howto-angular.md
Labels: bug, documentation

#2647 fix: issue with angular build missing package.json
  .github/workflows/01-build-stencil-targets.yml
Labels: cicd

#2652 fix: angular build by removing .npmignore
  package-lock.json
  packages/db-ui-elements-angular/package.json
Labels: repo, angular

#2677 feat: provide the new `width` property
  packages/db-ui-elements-stencil/src/components/db-button/db-button.tsx
  packages/db-ui-elements-stencil/src/components/db-button/readme.md
  packages/db-ui-elements-stencil/src/components/db-button/stories/button.intro.stories.mdx
  packages/db-ui-elements-stencil/src/components/db-input/readme.md
Labels: stencil, community feedback, improvement

#2685 refactor(dependabot): added necessary package to ignore for updates
  .github/dependabot.yml
Labels: cicd, improvement

#2682 refactor: Update `CODE-OF-CONDUCT.md`
  CODE-OF-CONDUCT.md
Labels: documentation, repo, improvement

#2692 fix(textarea): we need to set the value length state initially as well
  packages/db-ui-elements-stencil/src/components/db-textarea/db-textarea.tsx
Labels: bug, stencil, community feedback
